{% extends "::base.html.twig" %}


{% block body %}

<div class="row-fluid">

{% block form_header %}
<form action="{{ path('invoice_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="{{entity.status}}">
{% endblock form_header %}

{% if form_errors(edit_form) %}
    <div class="alert alert-error">
        {{ form_errors(edit_form) }}
    </div>
{% endif %}
{% if customErrors %}
    {% for error in customErrors %}
        <div class="alert alert-error">{{error}}
        </div>
    {% endfor %}
{% endif %}


    <div class="row-fluid">
        <div class="actions">
            <button type="submit" class="btn btn-inverse">Save</button>
            <a href="{{ path('invoice') }}" class="btn">
                    Back to the list
            </a>
        </div>
    </div>
    <div class="well">
        <div class="row-fluid">
            <div class="span4">
                <div>
                    <label>Reference</label> <label><b>{{entity.reference}}</b></label>
                </div>
                <div>
                    <label>Date</label> <label><b>{{entity.insertDate|date('d/m/Y')}}</b></label>
                </div>
                {% if entity.jobid %}
                <div>
                    <label>Job</label> <label><b>{{entity.jobid.reference}}</b></label>
                </div>
               {% endif %}
            </div>
            <div class="span4">
               {{ form_row(edit_form.language)}}
               {{ form_row(edit_form.offretype)}}
            </div>
            <div class="span4">
               {{ form_row(edit_form.status)}}

                {{ form_row(edit_form.paymentdate)}}
            </div>
        </div>
    </div>

     <div class="well">
        {{form_row(edit_form.clientid)}}
        {{form_row(edit_form.clienttype)}}
        <div class="row-fluid" id="cieonly" {% if entity.clienttype=='part' %} style="display:none" {% endif %}>
            <div class="span4">
                {{form_row(edit_form.name)}}

            </div>
             <div class="span4">
                {{form_row(edit_form.vat)}}

            </div>
             <div class="span4">
                {{form_row(edit_form.cietype)}}

            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                {{form_row(edit_form.clienttitle)}}
            </div>
             <div class="span4">
                {{form_row(edit_form.lastname)}}
            </div>
             <div class="span4">
                {{form_row(edit_form.firstname)}}

            </div>
        </div>
    </div>

     <div class="well">
        <div class="row-fluid">
            <div class="span4">
                {{form_row(edit_form.address)}}
                {{form_row(edit_form.city)}}

            </div>
             <div class="span4">
                {{form_row(edit_form.number)}}
                {{form_row(edit_form.zip)}}
            </div>
             <div class="span4">
                {{form_row(edit_form.country)}}

            </div>
        </div>
    </div>

    <div class="row-fluid">

        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>
                        Product
                    </th>
                    <th>
                        Price in &euro; VAT excl.
                    </th>
                    <th class="tiny"></th>
                </tr>
            </thead>
            <tbody class="products" data-prototype="{{('
                        <td class="span9">'~form_widget(edit_form.products.vars.prototype.description)~'</td>
                        <td class="span3">'~form_widget(edit_form.products.vars.prototype.price)~'</td>
                        <td><a class="delete_new_row" ><i class="icon icon-trash"></i></a></td>
                    ')|e}}">

                {% for product in edit_form.products %}

                    <tr>
                        <td class="span9">
                            {{form_widget(product.description)}}
                        </td>
                        <td class="span3">
                            {{form_widget(product.price)}}
                        </td>
                        <td><a class="delete_row" data-rel="{{entity.id}}" data-type="invoice" data-target="{{product.vars.value.id}}"><i class="icon icon-trash"></i></a></td>
                    </tr>
                {% endfor %}


            </tbody>
             <tfoot>
                <tr>
                        <th class="right">

                            <a id="add_product_link" class="add_product_link btn">Add row</a>
                        </th>
                        <th>

                        </th>
                        <th class="tiny"></th>
                </tr>
                    <tr>
                        <th class="right">
                            Total VAT excl.
                        </th>
                        <th>
                            {% set total=0 %}
                            {% for p in entity.products %}
                                {% set total=total + p.price %}
                            {% endfor %}
                            {{total|number_format(2,',',' ')}}
                        </th>
                        <th class="tiny"></th>
                </tr>


                    <tr>
                        <th class="right">
                             {{form_widget(edit_form.pricetype)}}
                        </th>
                        <th>
                            {% if entity.pricetype!='intra'%} {{(0.21*total)|number_format(2,',',' ')}} {% endif %}
                        </th>
                        <th class="tiny"></th>
                    </tr>
                    <tr>
                        <th class="right">
                            Total {% if entity.pricetype!='intra'%} VAT incl. {% endif %}
                        </th>
                        <th>
                            {% if entity.pricetype=='intra'%}
                                {{total|number_format(2,'.',' ')}}
                            {% else %}
                                {{(total+0.21*total)|number_format(2,'.',' ')}}
                            {% endif %}
                        </th>
                        <th></th>
                    </tr>

            </tfoot>
        </table>
    </div>


            <div class="row-fluid">
                {% set alreadyInvoicedPriceHt=0 %}
                {% if entity.jobid %}
                    <div class="alert alert-info">
                        <i class="icon  icon-info-sign"></i> Already invoiced:
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Reference</th>
                                        <th>Amount VAT excl.</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for invoice in entity.jobid.invoiceid %}
                                    <tr>
                                        <td>{{invoice.reference }}</td>
                                        <td>{{invoice.priceht}}</td>
                                    </tr>
                                    {% set alreadyInvoicedPriceHt=alreadyInvoicedPriceHt+invoice.priceht %}
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class='right'>Total</td>
                                        <td>{{alreadyInvoicedPriceHt|number_format(2,',',' ')}}</td>
                                    </tr>

                                    <tr>
                                        <td class='right'>Balance</td>
                                        <td>{{(alreadyInvoicedPriceHt-total)|number_format(2,',',' ')}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                    </div>
                {% endif %}
                 <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th class="span9">Description</th>
                            <th class="span1">Slice</th>
                            <th class='span1'></th>
                            <th class='span1'>Amount in &euro;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{form_widget(edit_form.sliceDescription)}}</td>
                            <td>{{form_widget(edit_form.slice)}}%</td>
                            <td class='right'>Total VAT excl.</td>
                            <td>{% set TotalHT=entity.priceHt %} {{form_widget(edit_form.priceht)}}<br/>
                             {% if entity.jobid %}<a class="btn balance" rel='{{total-alreadyInvoicedPriceHt}}'>Balance</a>{% endif %}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class='right'>VAT</td>
                            <td>
                                {% if entity.pricetype=='intra'%}<i>intra</i> {% set VAT=0 %}{% else %}
                                 {% set VAT= entity.priceHt*0.21 %} {{VAT|number_format(2,',',' ')}}
                                {% endif %}

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>



    <div class="well">
        {% set ToPay = entity.priceHT %}
        {% if entity.pricetype!='intra'%}
            {% set ToPay = entity.priceHT+(entity.priceHT*0.21) %}
        {% endif %}
       <h4 style="text-align:center">Total amount to pay {{ToPay|number_format(2,',',' ')}} {% if entity.pricetype!='intra'%}VAT incl.{% endif %}</h4>
    </div>

    {{ form_widget(edit_form) }}
    <div class="row-fluid">
        <div class="actions">
            <button type="submit" class="btn btn-inverse">Save</button>
            <a href="{{ path('invoice') }}" class="btn">
                    Back to the list
            </a>
        </div>
    </div>
</form>

</div>
{% endblock body %}
