{% extends "::base.html.twig" %}

{% block body %}

<div class="row-fluid">

{% block form_header %}
<form id='mainForm' action="{{ path('invoice_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} data-entity="invoice"  class="{{entity.status}}" novalidate >

{% endblock form_header %}
<input type='hidden' name='clientid' id="clientid"  value="{% if entity.clientid %}{{entity.clientid.id}} {% endif %}"/>


{% if form_errors(edit_form) %}
    <div class="alert alert-error">
        {{ form_errors(edit_form) }}
    </div>
{% endif %}
{% if customErrors %}
    {% for error in customErrors %}
        <div class="alert alert-error">{{error}}
        </div>
    {% endfor %}
{% endif %}


    <div class="row-fluid">
        <div class="actions">
            <button type="submit" class="btn btn-inverse">Save</button>
            <a href="{{ path('invoice') }}" class="btn">
                    Back to the list
            </a>

             {#<div class="dropdown pull-right">
                    <a class="dropdown-toggle" id="drop_1" role="button" data-toggle="dropdown" href="#"><img src="/images/icons/pdf.png"> <b class="caret"></b></a>#}

                {% if entity.id %}
            <a class="pull-right btn" href="{{path('invoice_pdf',{'id':entity.id,'force':true,'_locale':'all','type':'inv'})}}"><img src="/images/icons/pdf.png"> Rebuild pdf</a>
            {% endif %}

        </div>
    </div>
    <div class="well">
        <div class="row-fluid">
            <div class="span3">
                <div>
                    <label>Reference</label> <label><b>{{entity.reference}}</b></label>
                </div>
                <div>
                    <label>Date</label> <label><b>{{entity.insertDate|date('d/m/Y')}}</b></label>
                </div>
                {% if entity.jobid %}
                <div>
                    <label>Job</label> <label><b>{{entity.jobid.reference}}</b></label>
                </div>
               {% endif %}
            </div>
            <div class="span3">
               {#{ form_row(edit_form.language)}#}
               {{ form_row(edit_form.offretype)}}
            </div>
            <div class="span3">
               {{ form_row(edit_form.status)}}

                {{ form_row(edit_form.paymentdate)}}
            </div>
            <div class="span3">
                {% if entity.id %}

                    <div class="btn-group">
                      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" id="drop_1">Invoice
                        <img src="/images/icons/pdf.png">
                        <span class="caret"></span>
                      </a>
                        <ul  class="dropdown-menu" role="menu" aria-labelledby="drop_1">
                            {% for lg in ['en','fr','nl'] %}
                                <li role="presentation">
                                    <a role="menuitem" href="{{path('invoice_pdf',{'id':entity.id,'_locale':lg,'type':'inv'})}}" target="_blank" ><img src="/images/icons/pdf.png"> Invoice {{lg}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    {% if entity.r1 %}
                        <br/>
                        <div class="btn-group">
                          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" id="drop_1">Reminder 1
                            <img src="/images/icons/pdf.png">
                            <span class="caret"></span>
                          </a>
                            <ul  class="dropdown-menu" role="menu" aria-labelledby="drop_1">
                                {% for lg in ['en','fr','nl'] %}
                                    <li role="presentation">
                                        <a role="menuitem" href="{{path('invoice_pdf',{'id':entity.id,'_locale':lg,'type':'r1'})}}" target="_blank" ><img src="/images/icons/pdf.png"> Reminder 1 {{lg}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% if entity.r2 %}
                        <br/>
                        <div class="btn-group">
                          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" id="drop_1">Reminder 2
                            <img src="/images/icons/pdf.png">
                            <span class="caret"></span>
                          </a>
                            <ul  class="dropdown-menu" role="menu" aria-labelledby="drop_1">
                                {% for lg in ['en','fr','nl'] %}
                                    <li role="presentation">
                                        <a role="menuitem" href="{{path('invoice_pdf',{'id':entity.id,'_locale':lg,'type':'r2'})}}" target="_blank" ><img src="/images/icons/pdf.png"> Reminder 2 {{lg}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% if entity.med %}
                        <br/>
                        <div class="btn-group">
                          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" id="drop_1">Ultimatum
                            <img src="/images/icons/pdf.png">
                            <span class="caret"></span>
                          </a>
                            <ul  class="dropdown-menu" role="menu" aria-labelledby="drop_1">
                                {% for lg in ['en','fr','nl'] %}
                                    <li role="presentation">
                                        <a role="menuitem" href="{{path('invoice_pdf',{'id':entity.id,'_locale':lg,'type':'med'})}}" target="_blank" ><img src="/images/icons/pdf.png"> Ultimatum {{lg}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                {% endif %}

            </div>
        </div>
    </div>

     <h4>Client</h4>
    <div class="well">
        <div class="row-fluid" >
            <div class="span4">
                {{form_row(edit_form.clientid.clienttype)}}
            </div>
             <div class="span4">
                &nbsp;
            </div>
             <div class="span4">
                {{form_row(edit_form.clientid.language)}}
            </div>
         </div>
        <div class="row-fluid" id="cieonly" {% if entity.clientid %}{% if entity.clientid.clienttype!='cie' %} style='display:none' {% endif %} {% endif %}>
            <div class="span4">
                {{form_row(edit_form.clientid.name)}}

            </div>
             <div class="span4">
                {{form_row(edit_form.clientid.vat)}}

            </div>
             <div class="span4">
                {{form_row(edit_form.clientid.cietype)}}

            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                {{form_row(edit_form.clientid.clienttitle)}}
            </div>
             <div class="span4">
                {{form_row(edit_form.clientid.lastname)}}
            </div>
             <div class="span4">
                {{form_row(edit_form.clientid.firstname)}}

            </div>
        </div>
    </div>

     <div class="well">
        <div class="row-fluid">
            <div class="span4">
                {{form_row(edit_form.clientid.address)}}
                {{form_row(edit_form.clientid.city)}}
                {{form_row(edit_form.clientid.country)}}
                {{form_row(edit_form.clientid.url)}}
            </div>
             <div class="span4">
                {{form_row(edit_form.clientid.number)}}
                {{form_row(edit_form.clientid.zip)}}
            </div>
             <div class="span4">
                {{form_row(edit_form.clientid.email)}}
                {{form_row(edit_form.clientid.mobile)}}
                {{form_row(edit_form.clientid.phone)}}
                {{form_row(edit_form.clientid.phone2)}}
                {{form_row(edit_form.clientid.fax)}}

            </div>
        </div>
    </div>

    <div class="row-fluid">

        <table class="table table-bordered table-condensed table-striped table-sortable">
            <thead>
                <tr>
                    <th>
                        Product
                    </th>
                    <th>
                        Price in &euro; VAT excl.
                    </th>
                    <th class="tiny"></th>
                </tr>
            </thead>
            <tbody id="products" class="products"  {% if entity.id %} data-update="{{path('invoice_sort_products',{'id':entity.id})}}" {% endif %} data-prototype="{{('
                        <td class="span9">'~form_widget(edit_form.products.vars.prototype.description)~'</td>
                        <td class="span3">'~form_widget(edit_form.products.vars.prototype.price)~'</td>
                        <td><a class="delete_new_row" ><i class="icon icon-trash"></i></a></td>
                    ')|e}}">

                {% for product in edit_form.products %}

                    <tr  data-entity="{{product.vars.value.id}}"  >
                        <td class="span9">
                            {{form_widget(product.description)}}
                        </td>
                        <td class="span3">
                            {{form_widget(product.price)}}
                        </td>
                        <td><a class="delete_row" data-rel="{{entity.id}}" data-type="invoice" data-target="{{product.vars.value.id}}"><i class="icon icon-trash"></i></a></td>
                    </tr>
                {% endfor %}


            </tbody>
             <tfoot>
                <tr>
                        <th class="right">

                            <a id="add_product_link" class="add_product_link btn">Add row</a>
                            <a href="#transportModal" class="btn openTransportModal" data-isoption='0'>Add transport row</a>

                        </th>
                        <th>

                        </th>
                        <th class="tiny"></th>
                </tr>
                    <tr>
                        <th class="right">
                            Total VAT excl.
                        </th>
                        <th>
                            {% set total=0 %}
                            {% for p in entity.products %}
                                {% set total=total + p.price %}
                            {% endfor %}

                            {{total|number_format(2,',',' ')}}
                        </th>
                        <th class="tiny"></th>
                </tr>

                {# discount #}
                    <tr class="grey">
                        <th class="right">

                            {{form_widget(edit_form.discountDescription)}}
                        </th>
                        <th>
                            - {{form_widget(edit_form.discount)}}%
                        </th>
                        <th class="tiny"></th>
                    </tr>
                    {% if entity.discount>0 %}
                         <tr>
                            <th class="right">
                                Total VAT excl.
                            </th>
                            <th>
                                {% set total=total-(total*(entity.discount/100)) %}


                                {{total|number_format(2,',',' ')}}
                            </th>
                            <th class="tiny"></th>
                    </tr>
                    {% endif %}

                {# // discount #}


                    <tr>
                        <th class="right">
                             {{form_widget(edit_form.pricetype)}}
                        </th>
                        <th>
                            {% if entity.pricetype!='intra'%} {{(0.21*total)|number_format(2,',',' ')}} {% endif %}
                        </th>
                        <th class="tiny"></th>
                    </tr>
                    <tr>
                        <th class="right">
                            Total {% if entity.pricetype!='intra'%} VAT incl. {% endif %}
                        </th>
                        <th>
                            {% if entity.pricetype=='intra'%}
                                {{total|number_format(2,'.',' ')}}
                            {% else %}
                                {{(total+0.21*total)|number_format(2,'.',' ')}}
                            {% endif %}
                        </th>
                        <th></th>
                    </tr>

            </tfoot>
        </table>
    </div>


            <div class="row-fluid">
                {% set alreadyInvoicedPriceHt=0 %}
                {% if entity.jobid %}
                    <div class="alert alert-info">
                        <i class="icon  icon-info-sign"></i> Already invoiced:
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Reference</th>
                                        <th>Paid</th>
                                        <th>Amount VAT excl.</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for invoice in entity.jobid.invoiceid %}

                                    <tr>
                                        <td><a href="{{path('invoice_edit',{'id':invoice.id})}}">{{invoice.reference }}</a> {% if invoice.id==entity.id %} (this) {% endif %}</td>
                                        <td>{% if invoice.status=='paid' %} {{invoice.paymentdate|date('Y-m-d')}} {% endif %}</td>
                                        <td>{{invoice.priceht}}</td>
                                    </tr>
                                    {% set alreadyInvoicedPriceHt=alreadyInvoicedPriceHt+invoice.priceht %}
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td class='right'>Total</td>

                                        <td>{{alreadyInvoicedPriceHt|number_format(2,',',' ')}}</td>
                                    </tr>

                                   <tr>
                                        <td></td>
                                        <td class='right'>Balance from job</td>
                                        <td>{{(entity.jobid.price-alreadyInvoicedPriceHt)|number_format(2,',',' ')}} ({{entity.jobid.price|number_format(2,',',' ')}}-{{alreadyInvoicedPriceHt|number_format(2,',',' ')}})</td>
                                    </tr>

                                </tfoot>
                            </table>
                    </div>
                {% endif %}
                 <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th class="span9">Description</th>
                            <th class="span1">Slice</th>
                            <th class='span1'></th>
                            <th class='span1'>Amount in &euro;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{form_widget(edit_form.sliceDescription)}}</td>
                            <td>{{form_widget(edit_form.slice)}}%</td>
                            <td class='right'>Total VAT excl.</td>
                            <td>{% set TotalHT=entity.priceHt %} {{form_widget(edit_form.priceht)}}<br/>
                             {% if entity.jobid %}<a class="btn balance" rel='{{total-alreadyInvoicedPriceHt}}'>Balance</a>{% endif %}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class='right'>VAT</td>
                            <td>
                                {% if entity.pricetype=='intra'%}<i>intra</i> {% set VAT=0 %}{% else %}
                                 {% set VAT= entity.priceHt*0.21 %} {{VAT|number_format(2,',',' ')}}
                                {% endif %}

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>



    <div class="well">
        {% set ToPay = entity.priceHT %}
        {% if entity.pricetype!='intra'%}
            {% set ToPay = entity.priceHT+(entity.priceHT*0.21) %}

        {% endif %}
       <h4 style="text-align:center">Total amount to pay {{ToPay|number_format(2,',',' ')}} &euro; {% if entity.pricetype!='intra'%}VAT incl.{% endif %}</h4>
    </div>
    <div class="well">
        <div class="row-fluid">
            <div class="span6">
                {{form_row(edit_form.conditions)}}
            </div>
            <div class="span6">
                <div id="conditionChoices">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#conditions_nl" data-toggle="tab">nl</a></li>
                        <li><a href="#conditions_fr" data-toggle="tab">fr</a></li>
                        <li><a href="#conditions_en" data-toggle="tab">en</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="conditions_nl">
                            <table  class="table-striped table table-condensed table-bordered">
                                {% for condition in conditions %}
                                    <tr ><td class='tiny'><input type="checkbox" name="condition[]" value="{{condition.id}}" /></td><td>{{condition.nl|nl2br}}</td></tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="tab-pane" id="conditions_fr">
                            <table  class="table-striped table table-condensed table-bordered">
                                {% for condition in conditions %}
                                    <tr ><td class='tiny'><input type="checkbox" name="condition[]" value="{{condition.id}}" /></td><td>{{condition.fr|nl2br}}</td></tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="tab-pane" id="conditions_en">
                            <table  class="table-striped table table-condensed table-bordered">
                                {% for condition in conditions %}
                                    <tr ><td class='tiny'><input type="checkbox" name="condition[]" value="{{condition.id}}" /></td><td>{{condition.en|nl2br}}</td></tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {{ form_widget(edit_form) }}
    <div class="row-fluid">
        <div class="actions">
            <button type="submit" class="btn btn-inverse">Save</button>
            <a href="{{ path('invoice') }}" class="btn">
                    Back to the list
            </a>
        </div>
    </div>
</form>

</div>


    <div id="transportModal" data-target="{{entity.id}}" class="modal hide fade largeModal" tabindex="-1" role="dialog" aria-labelledby="transportModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Transport</h3>
          </div>
          <div class="modal-body">
                <div class='row-fluid' id="transports">
                     {{ render (controller("CaravaneOrganicBundle:Transport:getAvailable" )) }}
                </div>
          </div>
          <div class="modal-footer">


          </div>
    </div>


{% endblock body %}
