{% for key, invoiceType in invoices %}
	<h2>
		{% if key=='r1' %}
1rst reminder:
	{% elseif key=='r2' %}
2nd reminder:
	{% elseif key=='med' %}
Command:
	{% endif %}
</h2>
<ul>
	{% for invoice in invoiceType %}
		<li><a href="http://{{ app.request.host }}{{path('invoice_edit',{'id':invoice.id})}}">{{invoice.reference}} ({{invoice.clientid.name}}) on {{invoice.invoicedate|date('d/m/Y')}}</a></li>
	{% endfor %}
</ul>
{% endfor %}
