New <a href="http://{{ app.request.host }}{{path('invoice_edit',{'id':invoice.id})}}">invoice {{invoice.reference}}</a>  requested from job <a href="http://{{ app.request.host }}{{path('job_edit',{'id':invoice.jobId.id})}}">{{invoice.jobId.reference}}</a>
