{% extends "::base.html.twig" %}

{% block body %}

<div class="row">
    <div class="tools">
        <div class="col-md-10">
            <ul class="nav nav-pills">
        <li {% if type=='' %}class="active" {% endif %} >
            <a href="{{path('invoice',{'ob':ob})}}">All</a>
          </li>
          <li {% if type=='open' %}class="active" {% endif %} ><a href="{{path('invoice',{'type': 'open','ob':ob,'page':1} )}}">Open</a></li>
          <li {% if type=='paid' %}class="active" {% endif %} ><a href="{{path('invoice',{'type':'paid','ob':ob,'page':1})}}">Paid</a></li>
          <li {% if type=='todo' %}class="active" {% endif %} ><a href="{{path('invoice',{'type':'todo','ob':ob,'page':1})}}">To do</a></li>
          <li {% if type=='draft' %}class="active" {% endif %} ><a href="{{path('invoice',{'type':'draft','ob':ob,'page':1})}}">Draft</a></li>

        </ul>
</div>

<div class="col-md-2">
     <a href="{{ path('invoice_new') }}" class="btn btn-inverse ">
            New invoice
        </a>
    </div>
    </div>
</div>
<div class="row">

    <div class="col-md-12">




        <table class="table table-bordered table-condensed table-striped table-list">
            <thead>
                <tr>
                    <th><a data-orderby="reference">Reference</a></th>
                    <th><a data-orderby="clientid" >Client</a></th>
                    <th><a data-orderby="offretype" >Type</a></th>
                    <th><a data-orderby="insertdate" >Date</a></th>
                    <th><a data-orderby="priceht" >Am. VAT Excl.</a></th>
                    <th>Am. VAT Incl.</th>
                    <th><a data-orderby="cSlice" >Slice</a></th>




                     <th><a data-orderby="jobid" >Job</a></th>
                     <th><a data-orderby="status" >Status</a></th>
                     <th><a data-orderby="country" >Country</a></th>
                     <th>Account</th>
                     <th>PDF</th>
                     <th>R1</th>
                     <th>R2</th>
                     <th>MD</th>

                     <th>Ed</th>
                    {#<th>Del</th>#}

                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
            {% set row= loop.index %}
                <tr {% if entity.status!='paid' and entity.priceht>0 and entity.reference!='' %} class="error" {% endif %} >
                    <td><a href="{{ path('invoice_edit', { 'id': entity.id }) }}">{{ entity.reference }}</a></td>
                    <td>{% if entity.clientid %} <a href="{{ path('client_edit', { 'id': entity.clientid.id }) }}">{{ entity.clientid.name }}</a> {% endif %}</td>
                    <td>{{ entity.offretype }}</td>
                    <td>{{ entity.insertDate|date('d/m/Y') }}</td>

                    <td>{{entity.priceHT|number_format(2,',',' ')}}</td>
                    <td>{% if entity.priceType=='intra' %}<i>intra</i>{% else %} {{entity.priceTTC|number_format(2,',',' ')}}{% endif %}</td>

                    <td> {% if entity.jobid %}{{entity.cSlice}}/{{entity.jobid.slices|length()}}{% endif %}</td>
                    <td>{% if entity.jobid %} <a href="{{path('job_edit',{'id':entity.jobid.id})}}" class='red' >{{entity.jobid}}</a>{% endif %}</td>
                    <td> {% if entity.status=='ok' %}{% if entity.r1 %}R1{% elseif entity.r2 %}R2{% elseif entity.med %}Ult {% else %} sent  {% endif %} {% else %} {{entity.status}}{% endif %}</td>
                    <td>{{entity.country}}</td>


                     <td>{% if entity.jobid %}<a href="mailto:{{entity.jobid.userid.email}}">{{entity.jobid.userid.name}}</a>{% endif %}</td>










                     <td>

                        <li class="dropdown">
                            <a class="dropdown-toggle" id="drop{{row}}_1" role="button" data-toggle="dropdown" href="#"><img src="/images/icons/pdf.png"> <b class="caret"></b></a>
                            <ul  class="dropdown-menu" role="menu" aria-labelledby="drop{{row}}_1">
                                {% for lg in ['en','fr','nl'] %}
                                    <li role="presentation">
                                        <a role="menuitem" href="{{path('invoice_pdf',{'id':entity.id,'type':'inv','_locale':lg})}}" target="_blank" ><img src="/images/icons/pdf.png"> Invoice {{lg}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </td>
                     <td>
                        {% if entity.r1==1 %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" id="drop{{row}}_2" role="button" data-toggle="dropdown" href="#"><img src="/images/icons/pdf.png"> <b class="caret"></b></a>
                            <ul  class="dropdown-menu" role="menu" aria-labelledby="drop{{row}}_2">
                                {% for lg in ['en','fr','nl'] %}
                                    <li role="presentation">
                                        <a role="menuitem" href="{{path('invoice_pdf',{'id':entity.id,'type':'r1','_locale':lg})}}" target="_blank" > Reminder 1 {{lg}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                    </td>
                    <td>
                        {% if entity.r2==1 %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" id="drop{{row}}_3" role="button" data-toggle="dropdown" href="#"><img src="/images/icons/pdf.png"> <b class="caret"></b></a>
                            <ul  class="dropdown-menu" role="menu" aria-labelledby="drop{{row}}_3">
                                {% for lg in ['en','fr','nl'] %}
                                    <li role="presentation">
                                        <a role="menuitem" href="{{path('invoice_pdf',{'id':entity.id,'type':'r2','_locale':lg})}}" target="_blank" > Reminder 2  {{lg}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                    </td>
                    <td>
                        {% if entity.med==1 %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" id="drop{{row}}_4" role="button" data-toggle="dropdown" href="#"><img src="/images/icons/pdf.png"> <b class="caret"></b></a>
                            <ul  class="dropdown-menu" role="menu" aria-labelledby="drop{{row}}_4">
                                {% for lg in ['en','fr','nl'] %}
                                    <li role="presentation">
                                        <a role="menuitem" href="{{path('invoice_pdf',{'id':entity.id,'type':'med','_locale':lg})}}" target="_blank" > Ultimatum {{lg}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                    </td>

                      <td>
                        <a href="{{ path('invoice_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i></a>

                    </td>
                     {#<td>
                            {% if entity.reference=='' %}
                                <a href="{{ path('invoice_delete', { 'id': entity.id }) }}"><i class="fa fa-trash"></i></a>
                            {% endif %}

                    </td>#}

                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% include "CaravaneOrganicBundle:Default:pagination.html.twig" %}
    </div>
</div>
{% endblock body %}