{% extends "CaravaneOrganicBundle:Invoice:pdf.html.twig" %}

{% block reference %}
  {{"Reference"|trans}} {{entity.reference}}<br/>
  Aartselaar, {{"le"|trans}} {{"now"|date('d/m/Y')}}
{% endblock reference %}

{% block documentType %}
	{{"2nd RAPPEL"|trans}} - {{("Facture de "~entity.offreType)|trans}}
{% endblock documentType %}

{% block page1_body %}

{{"_R2"|trans({'%reference%':entity.reference,'%date%':entity.invoiceDate|date('d/m/Y')})|raw}}

<br/>
<br/>
<table class="main" style="border:1px solid">
	<tr >
 		<td style='padding:2mm;border-bottom:1px solid #000000;border-right:1px solid #000000'>{{"FACTURE"|trans}}</td>
 		<td style='padding:2mm;border-bottom:1px solid #000000;border-right:1px solid #000000'>{{"DATE"|trans}}</td>
		<td style='padding:2mm;border-bottom:1px solid #000000;border-right:1px solid #000000'>{{"MONTANT"|trans}}</td>
 		<td style='padding:2mm;border-bottom:1px solid #000000;border-right:1px solid #000000'>{{"MONTANT TVAC"|trans}}</td>
 		<td style='padding:2mm;border-bottom:1px solid #000000;border-right:1px solid #000000'>{{"ECHEANCE"|trans}}</td>
		<td style='padding:2mm;border-bottom:1px solid #000000'>{{"CONDITIONS PAIEMENT"|trans}}</td>
 		
 	</tr>
 	<tr>
 		<td style='padding:2mm;border-right:1px solid #000000'>{{entity.reference}}</td>
 		<td style='padding:2mm;border-right:1px solid #000000'>{{entity.invoiceDate|date('d/m/Y')}}</td>
		<td style='padding:2mm;border-right:1px solid #000000;text-align:right'>{{entity.priceht|number_format(2,'.',' ')}} €</td>
 		<td style='padding:2mm;border-right:1px solid #000000;text-align:right'>{% if entity.pricetype!='intra'%}
	            {{(entity.priceHT+(entity.priceHT*0.21))|number_format(2,'.',' ')}} €
	        {% endif %}</td>
 		<td style='padding:2mm;border-right:1px solid #000000'>{{entity.invoiceDate|date('d/m/Y')}}</td>
		<td style='padding:2mm;'>{{"COMPTANT"|trans}}</td>
 		
 	</tr>
</table>
<br/>


<p></p>
  <p>{{"Cordialement"|trans}},</p>
  <p>{# Géraldine Henry de Frahan.#}</p>
<br/<br/>
<br/>
<br/>
<br/>
<br/>
<b><u>{{"Conditions"|trans}}</u></b><br/>
<br/>{{"Conditions de paiement"|trans}}: {{"comptant."|trans}}
<br/>{{"Communication à mentionner"|trans}}: <b>{{"Facture"|trans}} {{entity.reference}}</b>
<br/><br/>

{% endblock page1_body %}

