<div class="well">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <label>Reference</label> <label><b>{{entity.reference}}</b></label>
                </div>

                {{ form_row(edit_form.origin)}}
            </div>

             <div class="col-md-4">
                {{ form_row(edit_form.language)}}
                <br/>
                {{ form_row(edit_form.userid)}}
            </div>

             <div class="col-md-4">
                <a class="btn btn-primary" href="{{path('offre_new',{'clientId':entity.id})}}">New offre</a>
            </div>
        </div>
    </div>

     <div class="well">

          {{form_row(edit_form.clienttype)}}

        <div class="row" id="cieonly">
            <div class="col-md-4">
                {{form_row(edit_form.name)}}

            </div>
             <div class="col-md-4">
                {{form_row(edit_form.vat)}}

            </div>
             <div class="col-md-4">
                {{form_row(edit_form.cietype)}}

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{form_row(edit_form.clienttitle)}}
            </div>
             <div class="col-md-4">
                {{form_row(edit_form.lastname)}}
            </div>
             <div class="col-md-4">
                {{form_row(edit_form.firstname)}}

            </div>
        </div>
    </div>

     <div class="well">
        <div class="row">
            <div class="col-md-4">
                {{form_row(edit_form.address)}}
                {{form_row(edit_form.city)}}
                {{form_row(edit_form.country)}}
                {{form_row(edit_form.url)}}
            </div>
             <div class="col-md-4">
                {{form_row(edit_form.number)}}
                {{form_row(edit_form.zip)}}
            </div>
             <div class="col-md-4">
                {{form_row(edit_form.email)}}
                {{form_row(edit_form.mobile)}}
                {{form_row(edit_form.phone)}}
                {{form_row(edit_form.phone2)}}
                {{form_row(edit_form.fax)}}

            </div>
        </div>
    </div>
