<table class="table table-condensed table-bordered table-striped">
            <thead>
                <tr>
                    <th>Reference</th>
                    <th>Price VAT Exc.</th>
                    <th>Build</th>
                    <th>Take off</th>
                    <th>Status</th>
                </tr>
            </thead>
            {% for offre in entity.offres %}
            <tr>
                <td><a href="{{path('offre_edit',{'id':offre.id})}}">{{offre.reference}}</a></td>
                <td>{{offre.price|number_format(2,',',' ')}}</td>
                <td>{{offre.startBuild|date}}</td>
                <td>{{offre.endBuild|date}}</td>
                <td>{% if offre.jobid %}Job: <a href="{{path('job_edit',{'id':offre.jobid.id})}}">{{offre.jobid}}</a> {% else %}{{offre.status}} {% endif %}</td>

            </tr>
            {% endfor %}
        </table>
