    {% if entity.tents %}

    <table class="table table-condensed table-bordered table-striped">
            <thead>
                <tr>
                    <th>Reference</th>
                    <th>Name</th>
                    <th>Width</th>
                    <th>Length</th>
                    <th>Area</th>
                </tr>
            </thead>
            {% for tent in entity.tents %}
            <tr>
                <td><a href="{{path('tent_edit',{'id':tent.id})}}">{{tent.reference}}</a></td>
                <td>{{tent.name}}</td>
                <td>{{tent.width}}</td>
                <td>{{tent.length}}</td>
                <td>{{tent.m2}}</td>
            </tr>
            {% endfor %}
        </table>
{% endif %}
