{% extends "CaravaneOrganicBundle:Default:pdf.html.twig" %}

{% block reference %}
  {{"Offre"|trans}} {{entity.reference}}<br/>
  Zaventem, {{"le"|trans}} {{entity.updateDate|date('d/m/Y')}}
  <br/>
  <br/>
  {% if entity.userid %}
	  {{entity.userid.firstname}}  {{entity.userid.lastname}}<br/>
	  {{entity.userid.email}}<br/>
	  {{entity.userid.phone}}<br/>
	  {{entity.userid.mobile}}
	{% endif %}
{% endblock reference %}

{% block documentType %}
	
{% endblock documentType %}

{% block address %}
{% if entity.clientid.clientType=='cie' %}
	<b>{{entity.clientid.name}}</b>
{% endif %}
	<br/>{{entity.clientid.clientTitle}} {{entity.clientid.firstname}} {{entity.clientid.lastname}}
	<br/>
	<br/>{{entity.clientid.address}} {{entity.clientid.number}}
	<br/>{{entity.clientid.zip}} {{entity.clientid.city}}
	<br/>{{entity.clientid.country}}
	<br/>
	{% if entity.clientid.vat %}
	<br/>
		<br/>{{"VAT"|trans}}: {{entity.clientid.vat}}
	{% endif %}
{% endblock address %}

{% block conditions %}
	<tr>
		<td class="center 1col" >
			{{"_More conditions"|trans}}
		</td>
	</tr>
{% endblock conditions %}


{% block page1_body %}

<table class="grey main">
	<tr>
		<td class="grey 1col" style="width:185mm;text-align:center">
			{{("Offre de "~entity.offreType)|trans}}
		</td>
	</tr>
</table>
<br/>
<br/>
<b><u>{{"Lieu"|trans}}</u></b>
<p>
	{{entity.address}} {{entity.number}}
	<br/>{{entity.zip}} {{entity.city}}
	<br/>{{entity.country}}

</p>


<b><u>{{"Dates"|trans}}</u></b>
<ul>
{% if entity.plannings|length>0 %}
	<li>{{"Montage"|trans}} : {{entity.plannings[1].startDate|date('d/m/Y H:i:s')}}</li>
	<li>{{"Jour(s) de votre événement"|trans}} : {{"du"|trans}} {{entity.plannings[2].startDate|date('d/m/Y H:i:s')}} {{"au"|trans}} {{entity.plannings[2].endDate|date('d/m/Y H:i:s')}}</li>
	<li>{{"Démontage"|trans}} : {{entity.plannings[3].startDate|date('d/m/Y H:i:s')}}</li>


{% else %}
	<li>{{entity.eventDate|date('d/m/Y H:i:s')}}</li>
{% endif %}
</ul>
<br/>
<br/>
<b><u>{{"Tente(s)"|trans}}</u></b>
<ul>
	{% for product in entity.products %}

		{% if product.tentid %}
			<li>{{product.tentid.reference}} - {{product.tentid.name}} - {{product.tentid.color}} - {{product.tentid.length}}m x {{product.tentid.width}}m {% if product.tentid.m2>0 %} - {{product.tentid.m2}}m2
				{% endif %}
			</li>
		{% endif %}
	{% endfor %}
</ul>

{% endblock page1_body %}

{% block page2 %}

<page backtop="30mm" backbottom="30mm" backleft="0mm" backright="0mm" >
	{% block page2_body %}


	<page_header>
			
			<table class="main" >
				<tr>
					<td class="2col">
						<img src="{{dir}}/web/bundles/caravaneorganic/images/logo.png" />
					</td>
					<td class="2col" ></td>
				</tr>
			</table>
			
		</page_header>
		<page_footer>

			
			<table class="main">
				<tr>
		<td class="center 1col" >
			{{"_More conditions"|trans}}
		</td>
	</tr>
				<tr>
					<td class="center 1col grey">
						Organic sa-nv - 71, Ikaroslaan - 1930 Zaventem - Belgium
						<br/>
						www.organic-concept.com - TVA/BTW: 0807.879.247
						<br/>
						Bank account: 001-5712962-29 - IBAN BE26001571296229 - Adresse SWIFT : GEBABEBB
						<br/>
						Tel 00 32 2 709 09 50 - Fax 00 32 2 709 09 51 - info@organic-concept.com
					</td>
				</tr>
			</table>
			
		</page_footer>








	<table class="grey main">
		<tr>
			<td class="grey 1col" style="width:185mm;text-align:center">
				{{("Offre de "~entity.offreType)|trans}}
			</td>
		</tr>
	</table>
	<br/>
	<br/>
	<b><u>{{"Budget(s)"|trans}}</u></b>
<br/>
<br/>

	<table class="main">
	<thead>
		<tr>
			<th class="left description" >{{"Description"|trans}}</th>
			<th class='right price' >{{"Montant HTVA"|trans}}</th>
		</tr>
	</thead>
	<tbody>
		{% for product in entity.products %}
			{% if product.isOption!=1 %}
			<tr>
				<td class="left description">{{product.description}}</td>
				<td class='right' >{{product.price|number_format(2,'.',' ')}} &euro;</td>
			</tr>
			{% endif %}
		{% endfor %}
		<tr>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td class='right'>{{"Total VAT excl."|trans}}</td>
			<td class='right' ><b>
				{% set total=0 %}
                {% for p in entity.products %}
                	{% if p.isOption!=1 %}
                    	{% set total=total + p.price %}
                    {% endif %}
                {% endfor %}
                {{total|number_format(2,',',' ')}}  &euro;
            </b>
			</td>
		</tr>
		<tr>
			<td class='right' >{% if entity.pricetype!='intra'%} {{"VAT"|trans}} (21%){% endif %}</td>
			<td class='right' > {% if entity.pricetype!='intra'%} {{(0.21*total)|number_format(2,'.',' ')}}  &euro; {% endif %}</td>
		</tr>
		<tr>
			<td class='grey right'>
				{{"Total"|trans}} {% if entity.pricetype!='intra'%} {{"VAT incl."|trans}} {% endif %}
			</td>
			<td class='grey right' ><b>
				{% if entity.pricetype=='intra'%}
                    {{total|number_format(2,'.',' ')}}
                {% else %}
                    {{(total+0.21*total)|number_format(2,'.',' ')}}
                {% endif %}
                  &euro;</b>
			</td>
		</tr>
	</tfoot>
</table>
<br/>
<br/>
<b><u>{{"Options(s)"|trans}}</u></b>
<br/>
<br/>
	

	<table class="main">
	<thead>
		<tr>
			<th class="left description" >{{"Description"|trans}}</th>
			<th class='right price' >{{"Montant HTVA"|trans}}</th>
		</tr>
	</thead>
	<tbody>
		{% for product in entity.products %}
			{% if product.isOption==1 %}
				<tr>
					<td class="left description">{{product.description}}</td>
					<td class='right' >{{product.price|number_format(2,'.',' ')}} &euro;</td>
				</tr>
			{% endif %}
		{% endfor %}
		
	</tbody>
</table>

<br/><br/>
<br/>
<b><u>{{"Conditions"|trans}}</u></b>
<br/>
<ul>
	{% for slice in entity.slices %}
	<li>{{slice.comments}}</li>
	{% endfor %}
</ul>

<br/>
<p>




{{"Une assurance est à votre charge durant votre location"|trans}}.<br/><br/>
<b>{{"Nos prix s'entendent hors TVA"|trans}}</b><br/>
{{"Validité de cette offre"|trans}}: {{"30 jours date de l'offre"|trans}}
</p>
<p>
{{"Sincères salutations"|trans}},<br/><br/>
{{entity.userid.firstname}} {{entity.userid.lastname}}<br/>
 {{entity.userid.email}}<br/>
{{entity.userid.phone}}<br/>
{{entity.userid.mobile}}

</p>



	{% endblock page2_body %}
</page>

<page backtop="0mm" backbottom="0mm" backleft="0mm" backright="0mm">
		
	        {% include "CaravaneOrganicBundle:Default:cgv."~_locale~ ".html.twig" %}
	    
	</page>


{% endblock page2 %}

