{% extends "::base.html.twig" %}


{% block body %}

<div class="row">
        <form id='mainForm' action="{{ path('offre_resolve_confirm') }}" method="post"  novalidate >
            <div class="well">
                <p>
                        Product <b><a href="{{path('tent_edit', {'id':tent.id})}}">{{tent.reference}}</a></b> ({{tent.id}})
                        <br/>

                        From bid <b><a href="{{path('offre_edit', {'id':offre.id})}}">{{offre.reference}}</a></b> by <b>{{offre.userid.name}}</b>
                        <br/>

                        Has been attached to job <b><a href="{{path('job_edit', {'id':job.id})}}">{{job.reference}}</a></b> by <b>{{job.userid.name}}</b>. <br/>
                        Please take an action:
                        <p>
                        <a href="{{path('offre_edit', {'id':offre.id})}}" class="btn btn-primary">I am aware and I want to modify this bid</a> (1)
                    </p>
                </p>
            </div>
            (1) If no action has been taken, this product will be removed from this bid in x days.
        </form>
    </div>
{% endblock body %}
