

<div class="row tableContainer">

    <div class='col-md-12 content'>

        <table class="table table-bordered table-condensed table-striped stock  {{ category.floor?'floor hidden':''}}" id="category{{ categoryId }}" >
            <thead>
                <tr>
                    <th></th>
                    <th>Reference</th>
                    <th>Name</th>
                    <th>Kit</th>
                    <th>Owner</th>
                    <th>Color</th>
                    <th>Length</th>
                    <th>Width</th>
                    <th>Area</th>
                    <th>Etat</th>
                    <th>Offres</th>
                </tr>
            </thead>

            <tbody>
                {% set offreEntity=entity %}
                {% set c=0 %}
                {% set m2=0 %}
                {% for entity in entities %}
                    <tr data-productid="{{entity.id}}" >
                        <td><input type="checkbox" name="products[]" value="{{entity.id}}" {%  if category.floor %} data-m2="{{ entity.m2 }}" {% endif %}/></td>
                        <td><a data-productid="{{entity.id}}" class="add">{{ entity.reference }}</a></td>
                        <td><a data-productid="{{entity.id}}" class="add">{{ entity.name }}</a></td>
                        <td>{% if entity.kit %} Yes {% else %} No {% endif %}</td>
                        <td>{% if entity.ownerid %}{{ entity.ownerid.name }}{% endif %}</td>
                        <td>{{ entity.color }}</td>
                        <td>{{ entity.length }}</td>
                        <td>{{ entity.width }}</td>
                        <td>{{ entity.m2 }}</td>
                        <td>{{ entity.etat }}</td>
                        <td>{% for offre in entity.offres %}
                        {% if offre.offreid in offres %}
                                <li><a href="{{path('offre_edit',{'id':offre.offreid.id} )}}">{{offre.offreid}}</a></li>
                            {% endif %}
                        {% endfor %}</td>

                    </tr>
                    {% set c=c+1 %}
                    {% set m2=m2+entity.m2 %}
                {% endfor %}
            </tbody>
        </table>


        {%  if category.floor  %}

            <table class="table table-bordered table-condensed table-striped table-list">
                <thead>
                <th>
                    Surface
                </th>
                <th class="medium">
                    Width
                </th>
                <th class="medium">
                    Length
                </th>
                <th>
                    Surface
                </th>
                <th>
                    Total available
                </th>

                </thead>
                <tbody>

                    <tr>
                        <td>
                            <input type="text" class="form-control" id="caravane_floor_surface_total" value="0" />
                        </td>
                        <td>
                            {{ entities[0].width }}
                        </td>
                        <td>
                            {{ entities[0].length }}
                        </td>
                        <td>
                            {{ entities[0].width * entities[0].length }}m2
                        </td>
                        <td>
                            {{ m2 }} m2
                        </td>
                    </tr>


                </tbody>
            </table>



        {%  endif %}
    </div>

</div>
