

<div class="row-fluid tableContainer">

    <div class='content'>

        <table class="table table-bordered table-condensed table-striped stock">
            <thead>
                <tr>
                    <th>Reference</th>

                    <th>Name</th>

                    <th>Kit</th>
                    <th>Owner</th>
                    <th>Color</th>
                    <th>Length</th>
                    <th>Width</th>
                    <th>Area</th>


                    <th>Etat</th>


                        <th>Offres</th>





                </tr>
            </thead>

            <tbody>
                {% set offreEntity=entity %}
            {% for entity in entities %}
                
                <tr data-productid="{{entity.id}}" >
                    <td><a data-productid="{{entity.id}}">{{ entity.reference }}</a></td>

                    <td><a data-productid="{{entity.id}}">{{ entity.name }}</a></td>

                    <td>{% if entity.kit %} Yes {% else %} No {% endif %}</td>
                    <td>{% if entity.ownerid %}{{ entity.ownerid.name }}{% endif %}</td>
                    <td>{{ entity.color }}</td>
                    <td>{{ entity.length }}</td>
                    <td>{{ entity.width }}</td>
                    <td>{{ entity.m2 }}</td>


                    <td>{{ entity.etat }}</td>



                        <td>{% for offre in entity.offres %}

                            {% if offre.offreid in offres %}
                                <li>{{offre.offreid}}</li>
                            {% endif %}
                        {% endfor %}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>




        <div class="row-fluid">
           {# <div class="pagination">
                  <ul>

                    {% for p in 1..nbpages %}
                    <li {% if page==p %} class="active" {% endif %} ><a href="{{path('tent_get_available',{'type': type,'ob':ob,'page':p,'startDate':startDate|date('Y-m-d H:i:s'),'endDate':endDate|date('Y-m-d H:i:s'),'entityId':entityId,'categoryId':categoryId} )}}">{{p}}</a></li>
                    {% endfor %}

                  </ul>
            </div>#}
        </div>
</div>

</div>
