{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% block form_header %}
                <form action="{{ path('tent_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} novalidate >
                    <input type="hidden" id="hash"  name="hash" />
             {% endblock form_header %}

                    <input type='hidden' name='clientid' id="clientid"  value="{% if entity.ownerid %}{{entity.ownerid.id}}{% endif %}"/>
                     <div class="row">
                        <div class="col-md-12">
                            <div class="actions">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <a href="{{ path('tent') }}" class="btn btn-default">
                                        Back to the list
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="well">
                        <div class="row">
                            <div class="col-md-4">
                                 {{form_row(edit_form.reference)}}
                                    {{form_row(edit_form.etat)}}
                            </div>
                            <div class="col-md-4">
                                {{form_row(edit_form.productCategory)}}
                                <div class="input-group input-append dropdown combobox" data-initialize="combobox" >
                                    <input type="text" class="form-control" type="text" name="category" id="category" value="{{entity.productCategory}}">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            {% for category in categories %}
                                                <li data-value="{{category}}"><a href="#">{{category}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                {{form_row(edit_form.name)}}
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-4">
                            <div class="well">
                                {{form_row(edit_form.name)}}
                                {{form_row(edit_form.comments)}}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="well">
                                {{form_row(edit_form.length)}}
                                {{form_row(edit_form.width)}}
                                {{form_row(edit_form.height)}}
                                {{form_row(edit_form.weight)}}
                                {{form_row(edit_form.m2)}}
                            </div>
                        </div>
                        <div class="col-md-4">
                             <div class="well">
                                     {{ form_row(edit_form.kit) }}
                                     {{ form_row(edit_form.color) }}
                                     {{ form_row(edit_form.piquets) }}

                            </div>
                        </div>
                    </div>


                    <h4>Owner</h4>
                    <div class="well">
                        <div class="row" >
                            <div class="col-md-4">
                                {{form_row(edit_form.ownerid.clienttype)}}
                            </div>
                             <div class="col-md-4">
                                &nbsp;
                            </div>
                             <div class="col-md-4">
                                {{form_row(edit_form.ownerid.language)}}
                            </div>
                         </div>
                        <div class="row" id="cieonly" {% if entity.ownerid %} {% if entity.ownerid.clienttype!='cie' %} style='display:none' {% endif %} {% endif %}>
                            <div class="col-md-4">
                                {{form_row(edit_form.ownerid.name)}}

                            </div>
                             <div class="col-md-4">
                                {{form_row(edit_form.ownerid.vat)}}

                            </div>
                             <div class="col-md-4">
                                {{form_row(edit_form.ownerid.cietype)}}

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{form_row(edit_form.ownerid.clienttitle)}}
                            </div>
                             <div class="col-md-4">
                                {{form_row(edit_form.ownerid.lastname)}}
                            </div>
                             <div class="col-md-4">
                                {{form_row(edit_form.ownerid.firstname)}}

                            </div>
                        </div>
                    </div>                      
                    <div class="well">
                        <div class="row">
                            <div class="col-md-4">
                                {{form_row(edit_form.ownerid.address)}}
                                {{form_row(edit_form.ownerid.city)}}
                                {{form_row(edit_form.ownerid.country)}}
                                {{form_row(edit_form.ownerid.url)}}
                            </div>
                             <div class="col-md-4">
                                {{form_row(edit_form.ownerid.number)}}
                                {{form_row(edit_form.ownerid.zip)}}
                            </div>
                             <div class="col-md-4">
                                {{form_row(edit_form.ownerid.email)}}
                                {{form_row(edit_form.ownerid.mobile)}}
                                {{form_row(edit_form.ownerid.phone)}}
                                {{form_row(edit_form.ownerid.phone2)}}
                                {{form_row(edit_form.ownerid.fax)}}

                            </div>
                        </div>
                    </div>


                    <h4>Documents</h4>
                    <table class="table table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th class="tiny"></th>
                                    <th class="tiny">Filename</th>
                                    <th class="tiny">Title</th>
                                    <th>Description</th>
                                    <th class="tiny" ></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for document in edit_form.document %}
                                    <tr>
                                        <td>
                                            <a href="{{asset(document.vars.value.path~'/'~document.vars.value.filename)}}" target="_blank"><img src="{{asset(document.vars.value.path~'/'~document.vars.value.filename)}}"  style="max-width:120px; maw-height:120px"></a>
                                        </td>
                                        <td>
                                            <a href="{{asset(document.vars.value.path~'/'~document.vars.value.filename)}}" target="_blank">{{document.vars.value.filename}}</a>
                                        </td>
                                         <td>
                                            {{ form_widget(document.title)}}
                                        </td>
                                        <td>
                                            {{ form_widget(document.description)}}
                                        </td>
                                        <td>
                                            <a class="delete_document" data-rel="{{entity.id}}" data-type="tent" data-target="{{document.vars.value.id}}"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                    {{ form_row(edit_form.files) }}
               

                    {{ form_rest(edit_form) }}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="actions">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <a href="{{ path('tent') }}" class="btn btn-default">
                                        Back to the list
                                </a>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
             <h4>Jobs</h4>
             <table class="table table-condensed table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Reference</th>
                            <th>Price VAT Exc.</th>
                            <th>Build</th>
                            <th>Take off</th>
                            <th>Offre</th>
                            <th>Invoice</th>
                        </tr>
                    </thead>
                    {% for job in entity.jobs %}
                        {% if job.tentid %}
                        <tr>
                            <td><a href="{{path('job_edit',{'id':job.jobid.id})}}">{{job.jobid.reference}}</a></td>
                            <td>{{job.jobid.price|number_format(2,',',' ')}}</td>
                            <td>{{job.jobid.startBuild|date('d/m/Y H:i:s')}}</td>
                            <td>{{job.jobid.endBuild|date('d/m/Y H:i:s')}}</td>
                            <td>{{job.jobid.offreid}}</td>
                            <td>{% for invoice in job.jobid.invoiceid %}<li><a href="{{path('invoice_edit',{'id':invoice.id} )}}">{{invoice.reference}}</a></li>{% endfor %}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Offres</h4>
            <table class="table table-condensed table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Reference</th>
                        <th>Price VAT Exc.</th>
                        <th>Build</th>
                        <th>Take off</th>
                        <th>Status</th>
                    </tr>
                </thead>
                {% for offre in entity.offres %}
                    {% if offre.tentid %}
                    <tr>
                        <td><a href="{{path('offre_edit',{'id':offre.id})}}">{{offre.offreid.reference}}</a></td>
                        <td>{{offre.offreid.price|number_format(2,',',' ')}}</td>
                        <td>{{offre.offreid.startBuild|date('d/m/Y H:i:s')}}</td>
                        <td>{{offre.offreid.endBuild|date('d/m/Y H:i:s')}}</td>
                        <td>{% if offre.offreid.jobid %}Job: <a href="{{path('job_edit',{'id':offre.offreid.jobid.id})}}">{{offre.offreid.jobid}}</a> {% else %}{{offre.offreid.status}} {% endif %}</td>

                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>


{% endblock body %}
