<h1>Tent</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Reference</th>
            <td>{{ entity.reference }}</td>
        </tr>
        <tr>
            <th>Kit</th>
            <td>{{ entity.kit }}</td>
        </tr>
        <tr>
            <th>Owner</th>
            <td>{{ entity.owner }}</td>
        </tr>
        <tr>
            <th>Color</th>
            <td>{{ entity.color }}</td>
        </tr>
        <tr>
            <th>Length</th>
            <td>{{ entity.length }}</td>
        </tr>
        <tr>
            <th>Width</th>
            <td>{{ entity.width }}</td>
        </tr>
        <tr>
            <th>M2</th>
            <td>{{ entity.m2 }}</td>
        </tr>
        <tr>
            <th>Weight</th>
            <td>{{ entity.weight }}</td>
        </tr>
        <tr>
            <th>Piquets</th>
            <td>{{ entity.piquets }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ entity.status }}</td>
        </tr>
        <tr>
            <th>Etat</th>
            <td>{{ entity.etat }}</td>
        </tr>
        <tr>
            <th>Comments</th>
            <td>{{ entity.comments }}</td>
        </tr>
        <tr>
            <th>Winter</th>
            <td>{{ entity.winter }}</td>
        </tr>
        <tr>
            <th>Issue</th>
            <td>{{ entity.issue }}</td>
        </tr>
        <tr>
            <th>Insertdate</th>
            <td>{{ entity.insertdate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updatedate</th>
            <td>{{ entity.updatedate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Public</th>
            <td>{{ entity.public }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('tent') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tent_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('tent_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
