{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="tools">
            <div class="col-md-10">

            </div>
            <div class="col-md-2">
                 <a href="{{ path('user_new') }}" class="btn btn-inverse ">
                        New user
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th><a data-orderby="iso" >Reference</a></th>
                    <th><a data-orderby="firstname" >Firstname</a></th>
                    <th><a data-orderby="lastname" >Lastname</a></th>
                    
                    <th><a data-orderby="email" >Email</a></th>
                    <th><a data-orderby="phone" >Phone</a></th>
                    <th><a data-orderby="mobile" >Mobile</a></th>
                    <th><a data-orderby="lastlog" >Lastlog</a></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                {% if entity.enabled %}
                <tr>
                    <td>{{ entity.iso }}</td>
                    <td>{{ entity.firstname }}</td>
                    <td>{{ entity.lastname }}</td>
                    
                    <td>{{ entity.email }}</td>
                    <td>{{ entity.phone }}</td>
                    <td>{{ entity.fax }}</td>
                    <td>{% if entity.lastlog %}{{ entity.lastlog|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td><a href="{{ path('user_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% include "CaravaneOrganicBundle:Default:pagination.html.twig" %}
    </div>
</div>
{% endblock body %}
