{% extends "CaravaneOrganicBundle:Default:pdf.html.twig" %}

{% block reference %}
 
  {% if entity.userid %}
	  {{entity.userid.firstname}}  {{entity.userid.lastname}}<br/>
	  {{entity.userid.email}}<br/>
	  {{entity.userid.phone}}<br/>
	  {{entity.userid.mobile}}
	{% endif %}
{% endblock reference %}

{% block documentType %}
	 {{"Job"|trans}} {{entity.reference}}<br/>
  <br/>
  <br/>
{% endblock documentType %}

{% block address %}

{% endblock address %}

{% block conditions %}
	<tr>
		<td class="center 1col" >
			{{"_More conditions"|trans}}
		</td>
	</tr>
{% endblock conditions %}


{% block page1_body %}

<table class="grey main">
	<tr>
		<td class="grey 1col" style="width:185mm;text-align:center">
			{{"LIEU ET DATES"|trans}}
		</td>
	</tr>
</table>
<br/>

<p><b><u>{{"Client"|trans}}</u></b>
<br/>
<br/>
{% if entity.clientid.clientType=='cie' %}
	<b>{{entity.clientid.name}}</b><br/>
{% endif %}
	{{entity.clientid.clientTitle}} {{entity.clientid.firstname}} {{entity.clientid.lastname}}
	<br/>{{entity.clientid.address}} {{entity.clientid.number}}
	<br/>{{entity.clientid.email}} - {{entity.clientid.phone}}  - {{entity.clientid.mobile}} 
</p>


<p><b><u>{{"Lieu"|trans}}</u></b>
	<br/>
	<br/>
	{{entity.address}} {{entity.number}}
	<br/>{{entity.zip}} {{entity.city}}
	<br/>{{entity.country}}

</p>

<p>
<b><u>{{"Dates"|trans}}</u></b>
<ul>
{% if entity.plannings|length>0 %}
	<li>{{"Montage"|trans}} : {{entity.plannings[1].startDate|date('d/m/Y H:i:s')}}</li>
	<li>{{"Jour(s) de votre événement"|trans}} : {{"du"|trans}} {{entity.plannings[2].startDate|date('d/m/Y H:i:s')}} {{"au"|trans}} {{entity.plannings[2].endDate|date('d/m/Y H:i:s')}}</li>
	<li>{{"Démontage"|trans}} : {{entity.plannings[3].startDate|date('d/m/Y H:i:s')}}</li>


{% else %}
	<li>{{entity.eventDate|date('d/m/Y H:i:s')}}</li>
{% endif %}
</ul>
</p>
<br/>
<table class="grey main">
	<tr>
		<td class="grey 1col" style="width:185mm;text-align:center">
			{{"MATERIEL"|trans}}
		</td>
	</tr>
</table>
<br/>
<table class="main">
	<thead>
		<tr>
			<th style="width:15mm"></th>
			<th style="width:25mm">Ref.</th>
			<th style="width:80mm">{{"Nom"|trans}}</th>
			<th style="width:25mm">{{"Couleur"|trans}}</th>
			<th style="width:20mm">{{"m2"|trans}}</th>
		</tr>
	</thead>
	<tbody>
		{% for product in entity.products %}
			{% if product.tentid %}
				<tr>
					<td style="border-bottom:1px solid #ededed">{{product.tentid.productCategory.name}}</td>
					<td style="border-bottom:1px solid #ededed" >{{product.tentid.reference}}</td>
					<td style="border-bottom:1px solid #ededed" >{{product.tentid.name}}
					{% if product.datasAsObject %}
						{% if product.datasAsObject.other %}
							<br/>{{product.datasAsObject.other}}
						{% endif %}

						{% if product.datasAsObject.plancher%}<br/><u>Plancher:</u> {% if product.datasAsObject.surfaceplancher %}{{product.datasAsObject.surfaceplancher}}{% else %} Yes {% endif %} {% endif %}
						{% if product.datasAsObject.sol %}<br/><u>Sol:</u>  Yes{% endif %}
						{% if product.datasAsObject.canalisation %}<br/><u>Canalisation:</u>  Yes {% endif %}

					{% endif %}
					</td>
					<td style="border-bottom:1px solid #ededed" >{{product.tentid.color}}</td>
					<td style="border-bottom:1px solid #ededed" >{% if product.tentid.m2>0 %}{{product.tentid.m2}}{% endif %}</td>
				</tr>
			{% endif %}
		{% endfor %}
	</tbody>
</table>




{% endblock page1_body %}

{% block page2 %}
	{% set type="in" %}
	{% include "CaravaneOrganicBundle:Job:bon.html.twig" %}

	{% set type="in" %}
	{% include "CaravaneOrganicBundle:Job:bon.html.twig" %}

	{% set type="out" %}
	{% include "CaravaneOrganicBundle:Job:bon.html.twig" %}

	{% set type="out" %}
	{% include "CaravaneOrganicBundle:Job:bon.html.twig" %}


{% endblock page2 %}

