

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}



<form action="{{ path("fos_user_security_check") }}" method="post">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	<div class="row">
    <div class="span2">
    	
			<input type="text" class="input-small" id="username" name="_username" placeholder="Username" />
			<br/>
			<input type="password" class="input-small" name="_password" placeholder="Password" />
			
		</div>
		<div class="span1">
		
		
			<button class="btn btn-warning btn-small signIn" >Sign in</button>
		</div>
		</div>
		<div class="row">
		<div class="forgot"><a href="{{path('fos_user_resetting_request')}}">Forgot your password ? Click here</a></div>
		</div>
		<div class="row">
		<div class="form-inline remember">
			<input type="checkbox" id="_remember_me" name="_remember_me" class="checkbox" value="on" /> 
			<label for="_remember_me" >remember me</label>
			</div>
		</div>
		<div class="row">
		<!--<input class="btn primary register" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
-->
		<!--<a href="{{ path('fos_user_registration_register') }}" class="btn btn-blue btn-mini register">Create MyETNO account</a>-->
		<br/>
</div>
</form>



{% endblock fos_user_content %}
