{% extends "::base.html.twig" %}

{% block body %}

<div class="row">
    <div class="tools">
        <div class="col-md-10">
            {#
        <ul class="nav nav-pills">

          <li {% if type=='running' %}class="active" {% endif %} ><a href="{{path('offre',{'type': 'running','ob':ob,'page':1} )}}">Running</a></li>
          <li {% if type=='confirmed' %}class="active" {% endif %} ><a href="{{path('offre',{'type':'confirmed','ob':ob,'page':1})}}">Confirmed</a></li>
          <li {% if type=='canceled' %}class="active" {% endif %} ><a href="{{path('offre',{'type':'canceled','ob':ob,'page':1})}}">Canceled</a></li>
          <li {% if type=='all' %}class="active" {% endif %} >
            <a href="{{path('offre',{'type':'all','ob':ob,'page':1})}}">All</a>
          </li>

        </ul>
        #}
</div>

<div class="col-md-2">
     <a href="{{ path('transport_new') }}" class="btn btn-inverse ">
            New transport
        </a>
    </div>
    </div>
</div>

<div class="row">

    <div class="col-md-12">




<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th><a data-orderby="zip" >Zip</a></th>
            <th><a data-orderby="name" >Name</a></th>
            <th><a data-orderby="distance" >Distance</a></th>
            <th><a data-orderby="cost" >Cost</a></th>

             <th>Ed</th>
            <th>Del</th>

        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
    {% set row=loop.index %}
        <tr>
            <td>{{ entity.zip }}</td>
             <td><a href="{{ path('transport_edit', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            <td>{{ entity.distance }}</td>
            <td>{{ entity.cost }}</td>
              <td>
                <a href="{{ path('transport_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i></a>

            </td>
             <td>

                        <a href="{{ path('transport_edit', { 'id': entity.id }) }}"><i class="fa fa-trash"></i></a>


            </td>

{#}
            <td><a href="{{ path('offre_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.insertdate %}{{ entity.insertdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.updatedate %}{{ entity.updatedate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.reference }}</td>
            <td>{{ entity.offretype }}</td>
            <td>{{ entity.planningcomments }}</td>
            <td>{{ entity.offrecomments }}</td>
            <td>{{ entity.surface }}</td>
            <td>{% if entity.startbuild %}{{ entity.startbuild|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.endbuild %}{{ entity.endbuild|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.requestdate %}{{ entity.requestdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.status }}</td>
            <td>{{ entity.pricetype }}</td>
            <td>{{ entity.price }}</td>
            <td>{{ entity.pricecomments }}</td>
            <td>{{ entity.conditions }}</td>
            <td>{{ entity.conditionsslices }}</td>
            <td>{{ entity.tents }}</td>
            <td>{{ entity.tentscomments }}</td>
            <td>{{ entity.address }}</td>
            <td>{{ entity.number }}</td>
            <td>{{ entity.zip }}</td>
            <td>{{ entity.city }}</td>
            <td>{{ entity.country }}</td>
            <td>{{ entity.contact }}</td>
            <td>{{ entity.phone }}</td>
            <td>{{ entity.phone2 }}</td>
            <td>{{ entity.mobile }}</td>
            <td>{{ entity.fax }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.url }}</td>
            <td>{{ entity.comments }}</td>
            <td>{{ entity.introtext }}</td>
            <td>{{ entity.issue }}</td>
            <td>{{ entity.deleted }}</td>
            <td>{{ entity.public }}</td>
            <td>{{ entity.language }}</td>
            <td>{{ entity.copyid }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('offre_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('offre_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>#}
        </tr>
    {% endfor %}
    </tbody>
</table>



    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% include "CaravaneOrganicBundle:Default:pagination.html.twig" %}
    </div>
</div>
{% endblock body %}





{#

{% block body -%}
    <h1>Transport list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Cost</th>
                <th>Zip</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('transport_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.cost }}</td>
                <td>{{ entity.zip }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('transport_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('transport_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('transport_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
#}
