{% extends "::base.html.twig" %}

{% block body %}
<div class="row-fluid">
    <div class="tools">
        <div class="span10">
        {#<ul class="nav nav-pills">
         
           <li {% if user=='any' %}class="active" {% endif %} >
            <a href="{{path('planning',{'user':'any'})}}">All</a>
          </li>
           <li {% if user=='' %}class="active" {% endif %} >
            <a href="{{path('planning',{'user':''})}}">My planning</a>
          </li>
        </ul>#}
        <form action="{{path('planning')}}" methgod="get">
        <input type="checkbox" name="show_inplace" value="1" {% if show_inplace %}checked='checked' {% endif %} onchange="submit()" />
        <select id="planning_user" name="user" onchange="submit()">

            <option value="any">Any user</option>
          {% for u in users %}
            <option value="{{u.id}}" {% if user!=null %} 
            {% if u.id==user.id %} selected {% endif %} 
            {% endif %}
            >{{u.name}}</option>
          {% endfor %}
        </select>
       </form>
    </div>
    <div class="span2">
        {# <a href="{{ path('client_new') }}" class="btn btn-inverse ">New client</a>#}
    </div>
    </div>
</div>
<div class="row-fluid">

    {% include "CaravaneCalendarBundle::calendar.html.twig" %}


</div>

{% endblock body %}
