<h1>Planning list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Planningtype</th>
            <th>Startdate</th>
            <th>Enddate</th>
            <th>Etat</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('planning_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.planningtype }}</td>
            <td>{% if entity.startdate %}{{ entity.startdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.enddate %}{{ entity.enddate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.etat }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('planning_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('planning_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('planning_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
