{% block CaravaneUIBootstrapTypeahead_widget %}
{% set label_field_value = form.parent.vars.value|access(form.vars.attr.label_field) %}
<div class="scrollable-dropdown-menu">
	<input class="{{form.vars.attr.class is defined?form.vars.attr.class:''}} form-control typeahead" type="text" id="{{form.vars.id}}" value="{{label_field_value}}" data-provide="typeahead" name="{{form.vars.full_name}}" >
</div>

<script type="text/javascript">
		$(document).ready(function() {

			var {{form.vars.id}}_var = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				prefetch: Routing.generate('{{form.vars.attr.source_route}}'),
				remote: Routing.generate('{{form.vars.attr.source_route}}')+"?query=%QUERY"
			});

			{{form.vars.id}}_var.initialize();


			$('#{{form.vars.id}}').typeahead({
				hint: true,
				highlight: true,
				minLength: 2
			},
			{
				name: '',
				displayKey: 'label',
				source: {{form.vars.id}}_var.ttAdapter()
			});

			$('#{{form.vars.id}}').bind('typeahead:selected', function(obj, datum, name) {
				{% if form.vars.attr.updater %}
					{{form.vars.attr.updater}}(datum.value,'{{form.vars.attr.target_field}}')
				{% endif %}
			});

			$('#{{form.vars.id}}').bind('keyup',function() {
				$('{{form.vars.attr.sub_form}} input').not('#{{form.vars.id}}, :radio').val('');
				$('{{form.vars.attr.sub_form}} select').val('');
				$('{{form.vars.attr.target_field}}').val('');
			});
		});
	</script>

{#
	<script type="text/javascript">
		$(document).ready(function() {
			$('#{{form.vars.id}}').typeahead({
				minLength:3,
				source: function (query, process) {
					$.getJSON(
					    Routing.generate('{{form.vars.attr.source_route}}'),
					    { query: query },
					    function (data) {
						    labels=[]
						    ids={}
						    mapped={}
						    $.each(data, function (i, item) {
								mapped[item.label] = item.label;
								labels.push(item.label);
								ids[item.label]=item.value;
							})
							process(labels);
					    }
					);
				},
				updater:function (item) {
					{% if form.vars.attr.updater %}
						{{form.vars.attr.updater}}(ids[item],'{{form.vars.attr.target_field}}')
					{% endif %}
					return mapped[item]
				}

		    });
		});
	</script>
#}
{% endblock %}

{% block CaravaneUIBootstrapRadioButton_widget %}
	<div class="btn-group" data-toggle="buttons" id="{{form.vars.id}}_widget" >
		{% for choice in form.vars.choices %}
			<label class="btn btn-default {% if form.vars.data==choice.value %} active {% endif %}">
				<input type="radio" name="{{form.vars.full_name}}" id="{{form.vars.id}}" type="hidden" value="{{choice.value}}" autocomplete="off" {% if form.vars.data==choice.value %} checked {% endif %}> {{choice.label}}
			</label>
		{% endfor %}
	</div>
	{#<input name="{{form.vars.full_name}}" id="{{form.vars.id}}" type="hidden" value="{{form.vars.data}}" >#}

{#
	<div class="btn-group" data-toggle="buttons-radio" id="{{form.vars.id}}_widget">
		{% for choice in form.vars.choices %}
			<button type="button" class="btn {% if form.vars.data==choice.value %} active {% endif %}" data-toggle="button" data-target="#{{form.vars.id}}" data-value="{{choice.value}}" >{{choice.label}}</button>
		{% endfor %}
		<input name="{{form.vars.full_name}}" id="{{form.vars.id}}" type="hidden" value="{{form.vars.data}}" >
    </div>
    #}
    {#
    <script type='text/javascript'>
    	$(function() {
			$('#{{form.vars.id}}_widget button').click(function(){
				target=$(this).attr('data-target');
				$(target).attr('value', $(this).attr('data-value'));
			})
			$('#{{form.vars.id}}_widget button').on('click', function() {
				$('#{{form.vars.id}}').val();
			});
		});
    </script>#}
{% endblock %}
