{% block CaravaneUIDatePicker_widget %}

	<div class="input-group" id="{{form.vars.id}}_widget">
		<input type="text" class="form-control" name="{{form.vars.full_name}}" id="{{form.vars.id}}" value="{{form.vars.value}}">
		<span class="input-group-btn">
			<button class="btn btn-default" type="button"><a class="fa fa-calendar"></a></button>
		</span>
	</div><!-- /input-group -->

	<script type="text/javascript">
	$(function() {
		$('#{{form.vars.id}}_widget .input-group-btn button').click(function(e) {
			e.stopPropagation();
			e.preventDefault();
			$(this).closest('.input-group').find('input').focus();
		});
	    $('#{{form.vars.id}}').daterangepicker({
	        singleDatePicker: true,
	        showDropdowns: true
	    });
	});
	</script>



{% endblock %}

{% block CaravaneUIDateTimePicker_widget %}

	<div class="input-group" id="{{form.vars.id}}_widget">
		<input type="text" class="form-control" name="{{form.vars.full_name}}" id="{{form.vars.id}}" value="{{form.vars.value}}">
		<span class="input-group-btn">
			<button class="btn btn-default date" type="button"><a class="fa fa-calendar"></a></button>
		</span>
		<span class="input-group-btn">
			<button class="btn btn-default hour active" type="button"><a class="fa fa-clock-o"></a></button>
		</span>

	</div><!-- /input-group -->

	<script type="text/javascript">
	$(function() {

		$('#{{form.vars.id}}_widget .input-group-btn button.date').click(function(e) {
			e.stopPropagation();
			e.preventDefault();
			$(this).closest('.input-group').find('input').focus();
		});
	    $('#{{form.vars.id}}').daterangepicker({
	        singleDatePicker: true,
	        showDropdowns: true,
	        timePicker: true,
	        format: "DD/MM/YYYY HH:MM",
	        timePickerIncrement: 15,
	        timePicker12Hour: false,
        	timePickerSeconds: false
	    });

	    $('#{{form.vars.id}}_widget .input-group-btn button.hour').click(function(e) {
			e.stopPropagation();
			e.preventDefault();
			$(this).toggleClass('active');
			if($(this).hasClass('active')) {
				$('#{{form.vars.id}}').data('daterangepicker').setOptions({
					singleDatePicker: true,
			        showDropdowns: true,
			        timePicker: true,
			        format: "DD/MM/YYYY HH:MM",
			        timePickerIncrement: 15,
			        timePicker12Hour: false,
		        	timePickerSeconds: false
				});
			}
			else {
				$('#{{form.vars.id}}').data('daterangepicker').setOptions({
					singleDatePicker: true,
	        		showDropdowns: true,
					timePicker: false,
	        		format: "DD/MM/YYYY"
				});
			}
		});
	});
	</script>

{% endblock %}










