{% block CaravaneUIDatePicker_widget %}

	<div class="input-append date" id="{{form.vars.id}}_widget" data-date="{{form.vars.value}}" data-date-format="yyyy-mm-dd">
	  <input class="span3" size="16" type="text" name="{{form.vars.full_name}}" id="{{form.vars.id}}" value="{{form.vars.value}}">
	  <span class="add-on"><i class="icon-calendar"></i></span>
	</div>
	<script type="text/javascript">
	$(function() {
		$('#{{form.vars.id}}_widget').datepicker();
	})
	</script>

{% endblock %}

{% block CaravaneUIDateTimePicker_widget %}

	<div class="input-append date" id="{{form.vars.id}}_widget" >
	  <input class="span3" size="16" type="text" name="{{form.vars.full_name}}" data-format="dd/MM/yyyy HH:mm:ss" id="{{form.vars.id}}" value="{{form.vars.value}}">
	  <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i></span>
	</div>
	<script type="text/javascript">
	$(function() {
		$('#{{form.vars.id}}_widget').datetimepicker({
			language: 'en',
		});
	})
	</script>

{% endblock %}
