{% block CaravaneUIDatePicker_widget %}

	<div class="input-group" id="{{form.vars.id}}_widget">
		<input type="text" class="form-control" name="{{form.vars.full_name}}" id="{{form.vars.id}}" value="{{form.vars.value}}">
		<span class="input-group-btn">
			<button class="btn btn-default" type="button"><a class="fa fa-calendar"></a></button>
		</span>
	</div><!-- /input-group -->

	<script type="text/javascript">
	$(function() {
		$('#{{form.vars.id}}_widget .input-group-btn button').click(function(e) {
			e.stopPropagation();
			e.preventDefault();
			$(this).closest('.input-group').find('input').focus();
		});
	    $('#{{form.vars.id}}').daterangepicker({
	        singleDatePicker: true,
	        showDropdowns: true
	    });
	});
	</script>



{% endblock %}

{% block CaravaneUIDateTimePicker_widget %}

	<div class="input-group" id="{{form.vars.id}}_widget">
		<input type="text" class="form-control" name="{{form.vars.full_name}}" id="{{form.vars.id}}" value="{{form.vars.value}}">
		<span class="input-group-btn">
			<button class="btn btn-default" type="button"><a class="fa fa-calendar"></a></button>
		</span>
	</div><!-- /input-group -->

	<script type="text/javascript">
	$(function() {
		$('#{{form.vars.id}}_widget .input-group-btn button').click(function(e) {
			e.stopPropagation();
			e.preventDefault();
			$(this).closest('.input-group').find('input').focus();
		});
	    $('#{{form.vars.id}}').daterangepicker({
	        singleDatePicker: true,
	        showDropdowns: true,
	        timePicker: true,
	        format: "DD/MM/YYYY HH:MM",
	        timePickerIncrement: 15,
	        timePicker12Hour: false,
        	timePickerSeconds: false
	    }, function(start, end, label) {
	    	if(start._d.getHours()<=0 && start._d.getMinutes()<=0) {
	    		$('#{{form.vars.id}}').val(start._d.getDate()+"/"+start._d.getMonth()+"/"+start._d.getFullYear());
	    	}
	    });
	});
	</script>

{% endblock %}










