{% block CaravaneUIFueluxComboBox_widget %}


	<div class="input-group input-append dropdown combobox" data-initialize="combobox" >
	  <input type="text" class="form-control" type="text" name="{{form.vars.full_name}}" id="{{form.vars.id}}" value="{{form.vars.value}}">
	  <div class="input-group-btn">
	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
	    <ul class="dropdown-menu dropdown-menu-right">
	    	{% for choice in form.vars.attr.choices %}
	      		<li data-value="{{choice}}"><a href="#">{{choice}}</a></li>
	      	{% endfor %}
	    </ul>
	  </div>
	</div>



{% endblock %}