{% extends 'bootstrap_3_layout.html.twig' %}

{% block time_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            <input type="checkbox" onclick="hideHour(this, '{{ form.vars.id }}')"  {{ (form.vars.value=='00:00' or form.vars.value=='12:00' or form.vars.value=='')?'checked':'' }} />  all day <span {{ (form.vars.value=='00:00' or form.vars.value=='12:00' or form.vars.value=='')?'style="display:none"':'' }}  >{{ block('form_widget_simple') }}</span>
        {% else %}
            {% set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} %}
            <div {{ block('widget_container_attributes') }}>
                {{ form_widget(form.hour, vars) }}:{{ form_widget(form.minute, vars) }}{% if with_seconds %}:{{ form_widget(form.second, vars) }}{% endif %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock time_widget %}