 <div class="well">
        <div class="row" >
            <div class="col-md-4">
                {{form_row(edit_form.clientid.clienttype)}}
            </div>
             <div class="col-md-4">
                &nbsp;
            </div>
             <div class="col-md-4">
                {{form_row(edit_form.clientid.language)}}
            </div>
         </div>
        <div class="row" id="cieonly" {% if entity.clientid %} {% if entity.clientid.clienttype!='cie' %} style='display:none' {% endif %} {% endif %}>
            <div class="col-md-4">
                {{form_row(edit_form.clientid.name)}}

            </div>
             <div class="col-md-4">
                {{form_row(edit_form.clientid.vat)}}

            </div>
             <div class="col-md-4">
                {{form_row(edit_form.clientid.cietype)}}

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{form_row(edit_form.clientid.clienttitle)}}
            </div>
             <div class="col-md-4">
                {{form_row(edit_form.clientid.lastname)}}
            </div>
             <div class="col-md-4">
                {{form_row(edit_form.clientid.firstname)}}

            </div>
        </div>
    </div>

     <div class="well">
        <div class="row">
            <div class="col-md-4">
                {{form_row(edit_form.clientid.address)}}
                {{form_row(edit_form.clientid.city)}}
                {{form_row(edit_form.clientid.country)}}
                {{form_row(edit_form.clientid.url)}}
            </div>
             <div class="col-md-4">
                {{form_row(edit_form.clientid.number)}}
                {{form_row(edit_form.clientid.zip)}}
            </div>
             <div class="col-md-4">
                {{form_row(edit_form.clientid.email)}}
                {{form_row(edit_form.clientid.mobile)}}
                {{form_row(edit_form.clientid.phone)}}
                {{form_row(edit_form.clientid.phone2)}}
                {{form_row(edit_form.clientid.fax)}}

            </div>
        </div>
    </div>
