<div class="row">
    <div class="col-md-12">
         <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-9">Description</th>
                            <th class="col-md-1">Slice</th>

                            <th class='col-md-1'>Amount in &euro;</th>
                            <th class='iiny'></th>
                        </tr>
                    </thead>
                    <tbody class="slices" data-prototype="{{('
                        <td class="col-md-9">'~form_widget(edit_form.slices.vars.prototype.comments)~'</td>
                        <td class="col-md-1">'~form_widget(edit_form.slices.vars.prototype.slice)~'</td>
                        <td class="col-md-1">'~form_widget(edit_form.slices.vars.prototype.priceht)~'</td>
                        <td><a class="delete_new_row" ><i class="fa fa-trash-o"></i></a></td>
                    ')|e}}">

                        {% for slice in edit_form.slices %}
                        <tr {% if slice.vars.value.slice>100 or slice.vars.value.slice<=0 %} class="error" {% endif %} >
                            <td>{{form_widget(slice.comments)}}</td>
                            <td>{{form_widget(slice.slice)}}%</td>

                            <td>{{form_widget(slice.priceht)}}<br/>
                             </td>
                             <td><a class="delete_row" data-rel="{{entity.id}}" data-type="offre_slice" data-target="{{slice.vars.value.id}}"><i class="fa fa-trash-o"></i></a></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                     <tfoot>
                <tr {% if entity.totalSlice!=100 or entity.totalSlicePriceht!=entity.price %} class="error" {% endif %}>
                        <th class="right">

                            <a id="add_slice_link" class="add_slice_link btn">Add row</a>
                        </th>
                        <th>
                            {{entity.totalSlice}}%
                        </th>
                        <th>
                            {{entity.totalSlicePriceht}}&euro;
                        </th>
                        <th class="tiny"></th>
                </tr>
            </tfoot>
        </table>
        {{ entity.totalSlice }}
        {{ entity.price }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{form_row(edit_form.conditions)}}
    </div>
</div>
