<table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="tiny"></th>
                        <th class="tiny">Filename</th>
                        <th class="tiny">Title</th>
                        <th>Description</th>
                        <th class="tiny" ></th>
                    </tr>
                </thead>
                <tbody>
                    {% for document in edit_form.document %}
                        <tr>
                            <td>
                                <a href="{{asset(document.vars.value.path~'/'~document.vars.value.filename)}}" target="_blank"><img src="{{asset(document.vars.value.path~'/'~document.vars.value.filename)}}"  style="max-width:120px; maw-height:120px"></a>
                            </td>
                            <td>
                                <a href="{{asset(document.vars.value.path~'/'~document.vars.value.filename)}}" target="_blank">{{document.vars.value.filename}}</a>
                            </td>
                             <td>
                                {{ form_widget(document.title)}}
                            </td>
                            <td>
                                {{ form_widget(document.description)}}
                            </td>
                            <td>
                                <a class="delete_document" data-rel="{{entity.id}}" data-type="offre" data-target="{{document.vars.value.id}}"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
        {{ form_row(edit_form.files) }}
