 <div class="well">
    <div class="row">

        {{form_widget(edit_form.previewdate)}}
        {{form_widget(edit_form.builddate)}}
        {{form_widget(edit_form.unbuilddate)}}

        {{form_widget(edit_form.previewUser)}}
        {{form_widget(edit_form.buildUser)}}
        {{form_widget(edit_form.unbuildUser)}}


        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>#
                        </th>
                        <th>From
                        </th>
                        <th>To
                        </th>
                        <th>
                        </th>
                        <th>In charge
                        </th>
                        {#<th>Status
                        </th>#}
                    </tr>
                </thead>
                <tbody >
                {% for planning in edit_form.plannings %}
                    <tr class='widget'>
                        <td><label><b>{{planning.vars.value.planningtype}}</b></label>{{form_widget(planning.planningtype)}}</td>
                        <td>{{form_widget(planning.startdate)}}</td>
                        <td>{{form_widget(planning.enddate)}}</td>
                        <td><div class="reportrange" >
            <i class="icon-calendar icon-large"></i>
            <span class='display'><span class='static'>From </span> {{planning.vars.value.startdate|date('d/m/Y H:i')}} <span class='static'> to </span> {{planning.vars.value.enddate|date('d/m/Y H:i')}}</span> <b class="caret"></b>
        </div>
        {#{dump(planning)}#}</td>
                        <td>{{form_widget(planning.userid)}}</td>
                        {#<td>{{form_widget(planning.etat)}}</td>#}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{form_row(edit_form.planningcomments)}}
        </div>
    </div>
</div>
