 <div class="well">
    <div class="row">






        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>#
                        </th>
                        <th>Date
                        </th>
                        <th>In charge
                        </th>
                        {#<th>Status
                        </th>#}
                    </tr>
                </thead>
                <tbody >

                    <tr class="widget">
                            <td><label><b>Preview</b></label></td>
                            <td>{{form_widget(edit_form.previewdate)}}</td>
                            <td>  {{form_widget(edit_form.previewUser)}}</td>
                        </tr>
                        <tr class="widget">
                            <td><label><b>Build</b></label></td>
                            <td>{{form_widget(edit_form.builddate)}}</td>
                            <td>  {{form_widget(edit_form.buildUser)}}</td>
                        </tr>
                        <tr class="widget">
                            <td><label><b>Unbuild</b></label></td>
                            <td>{{form_widget(edit_form.unbuilddate)}}</td>
                            <td>  {{form_widget(edit_form.unbuildUser)}}</td>
                        </tr>

            </tbody>
        </table>
        {{form_row(edit_form.planningcomments)}}
        </div>
{#
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>#
                        </th>
                        <th>From
                        </th>
                        <th>To
                        </th>
                        <th>
                        </th>
                        <th>In charge
                        </th>

                    </tr>
                </thead>
                <tbody >
                {% for planning in edit_form.plannings %}
                    <tr class='widget'>
                        <td><label><b>{{planning.vars.value.planningtype}}</b></label>{{form_widget(planning.planningtype)}}</td>
                        <td>{{form_widget(planning.startdate)}}</td>
                        <td>{{form_widget(planning.enddate)}}</td>
                        <td><div class="reportrange" >
            <i class="icon-calendar icon-large"></i>
            <span class='display'><span class='static'>From </span> {{planning.vars.value.startdate|date('d/m/Y H:i')}} <span class='static'> to </span> {{planning.vars.value.enddate|date('d/m/Y H:i')}}</span> <b class="caret"></b>
        </div>
       </td>
                        <td>{{form_widget(planning.userid)}}</td>
                        {
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{form_row(edit_form.planningcomments)}}
        </div>#}
    </div>
</div>
