 <div class="well">
    <div class="row">






        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>#
                        </th>
                        <th>Date
                        </th>
                        <th></th>
                        <th>In charge
                        </th>
                        {#<th>Status
                        </th>#}
                    </tr>
                </thead>
                <tbody >

                    <tr class="widget">
                            <td><label><b>Preview</b></label></td>
                            <td>{{form_widget(edit_form.previewdate)}}</td>
                            <td></td>
                            <td>  {{form_widget(edit_form.previewUser)}}</td>
                        </tr>
                        <tr class="widget">
                            <td><label><b>Build</b></label></td>
                            <td>{{form_widget(edit_form.builddate)}}</td>
                            <td></td>
                            <td>  {{form_widget(edit_form.buildUser)}}</td>
                        </tr>
                        <tr class="widget">
                            <td><label><b>Unbuild</b></label></td>
                            <td>{{form_widget(edit_form.startunbuilddate)}}</td>
                            <td>{{form_widget(edit_form.unbuilddate)}}</div></td>
                            <td>  {{form_widget(edit_form.unbuildUser)}}</td>
                        </tr>

            </tbody>
        </table>
        {{form_row(edit_form.planningcomments)}}
        </div>
    </div>
</div>
