{% import _self as mac %}

<div class="row">
    <div class="col-md-6">
        <div class="form-inline">
            <div class="form-group">
                {{form_row(edit_form.surface)}}
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-condensed table-striped table-sortable" data-option="0">
            <thead>
                <tr>
                    <th> Product </th>
                    <th> Price in &euro; VAT excl. </th>
                    <th class="tiny"></th>
                </tr>
            </thead>
            {{ mac.body(edit_form, entity, products, false) }}

        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{form_row(edit_form.tentscomments)}}
    </div>
</div>

<div classss="row">
    <div class="col-md-12">


        <h4>Options</h4>
        <div class="row">
            <div class="col-md-12">
              {{form_row(edit_form.tentscomments)}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <table class="table table-bordered table-condensed table-striped table-sortable" data-option="1">
                    <thead>
                    <tr>
                        <th> Product </th>
                        <th> Price in &euro; VAT excl. </th>
                        <th class="tiny"></th>
                    </tr>
                    </thead>

                    {{ mac.body(edit_form, entity, products, true) }}

                </table>
            </div>
        </div>
    </div>
</div>



{%  macro body(edit_form, entity, products, option) %}

    <tbody class="products" id="{{ option?'':'products'}}" {% if entity.id %} data-update="{{path('offre_sort_products',{'id':entity.id})}}" {% endif %} >
    {% set c=0 %}
    {% set floors =[] %}
    {% for product in edit_form.products  %}
        {% if product.isoption.vars.data==option %}
            {% if product.vars.value.tentid.productCategory.floor|default  %}
                {% set floors = floors|merge([product])  %}
            {%  endif %}
            <tr data-productid="{{c}}" data-entity="{{product.vars.value.id}}" {% if product.vars.value.toremove %} class="error" {% endif %}   {{ (product.vars.value.tentid.productCategory.floor|default and floors|length>1 )?'style="display:none"':'' }} >

                {%  if product.vars.value.tentid.productCategory.floor|default and floors|length==1  %}
                    <td class="col-md-9">
                        <div class="row">
                            <div class="col-md-8"> {{form_widget(product.description)}}  {{form_widget(product.datas)}}</div>
                            <div class="col-md-4">
                                {%  set totalFloor=0 %}
                                {%  if option %}
                                    {%  for fl in  products.option.floor%}
                                        {%  set totalFloor=totalFloor+fl.tentid.m2 %}
                                    {%  endfor  %}
                                    {{ totalFloor }} m2 ({{ products.option.floor|length }} pieces)
                                {%  else  %}
                                    {%  for fl in  products.required.floor%}
                                        {%  set totalFloor=totalFloor+fl.tentid.m2 %}
                                    {%  endfor  %}
                                    {{ totalFloor }} m2 ({{ products.required.floor|length }} pieces)
                                {%  endif %}

                            </div>
                        </div>
                    </td>
                {%  else  %}
                    <td class="col-md-9"> {{form_widget(product.description)}} {{form_widget(product.datas)}}</td>
                {%  endif  %}

                <td class="col-md-3"> {{form_widget(product.price)}} </td>
                <td>{{form_widget(product.isoption)}}<a class="delete_row" data-rel="{{entity.id}}" data-type="offre" data-target="{{product.vars.value.id}}"><i class="fa fa-trash-o"></i></a></td>
            </tr>

        {% endif %}
        {% set c=c+1 %}
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th class="right">
                <a data-rel="{{entity.id}}" id="add_product_link" class="add_product_link btn btn-default" data-isoption='0'>Add free row</a>
                <a href="#transportModal" class="btn btn-default openTransportModal" data-isoption='0'>Add transport row</a>
                {% if entity.id and entity.builddate and entity.unbuilddate %}
                    <a href="#stockModal"  class="btn btn-default openStockModal"  data-isoption='0'>Add from stock</a>
                {% else %}
                    <a href="#stockModal"  class="btn btn-default disabled"  data-isoption='0'>Add from stock</a><br/>
                    You must give planning dates and save this offer to be able to add product from stock
                {% endif %}
            </th>
            <th> </th>
            <th class="tiny"></th>
        </tr>
        <tr>
            <th class="right"> Total {{ option?' options ':'' }} VAT excl. </th>
            <th>
                {% set total=0 %}
                {% for p in entity.products %}
                    {% if p.isoption==option %}
                        {% set total=total + p.price %}
                    {% endif %}
                {% endfor %}
                {{total|number_format(2,',',' ')}}
            </th>
            <th class="tiny"></th>
        </tr>
        <tr>
            <th class="right"> {{form_widget(edit_form.pricetype)}} </th>
            <th> {% if entity.pricetype!='intra'%} {{(0.21*total)|number_format(2,',',' ')}} {% endif %} </th>
            <th class="tiny"></th>
        </tr>
        <tr>
            <th class="right"> Total {{ option?' options ':'' }} {% if entity.pricetype!='intra'%} VAT incl. {% endif %} </th>
            <th>
                {% if entity.pricetype=='intra'%}
                    {{total|number_format(2,'.',' ')}}
                {% else %}
                    {{(total+0.21*total)|number_format(2,'.',' ')}}
                {% endif %}
            </th>
            <th></th>
        </tr>

    </tfoot>

{%  endmacro %}