    <div class="well">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <label>Reference</label> <label><b>{{entity.reference}}</b></label>
                </div>
                <div>
                    <label>Date</label> <label><b>{{entity.insertDate|date('d/m/Y')}}</b></label>
                </div>

            </div>
            <div class="col-md-4">
               {{ form_row(edit_form.offretype)}}
               {{ form_row(edit_form.userid)}}
            </div>
            <div class="col-md-4">

               {{ form_row(edit_form.status)}}

               {% if entity.jobid %}<label>Related job</label><label><b><a href="{{path('job_edit',{'id':entity.jobid.id})}}"> {{entity.jobid}}</a> </b></label>
               {% else %}
                {{ form_row(edit_form.validity)}}
               {% endif %}
            </div>
        </div>
    </div>
    <div class="well">
        <div class="row">
                {{ form_row(edit_form.eventdate)}}
        </div>
    </div>
    <div class="well">
        <div class="row">
            {% set ToPay = entity.price %}
            {% if entity.pricetype!='intra'%}
                {% set ToPay = entity.price+(entity.price*0.21) %}
            {% endif %}
            <div class="col-md-6">
                <h4 style="text-align:center">Total amount {{ToPay|number_format(2,',',' ')}} {% if entity.pricetype!='intra'%}VAT incl.{% endif %}</h4>
            </div>
             <div class="col-md-6">
                {{ form_row(edit_form.pricecomments)}}
            </div>
        </div>
    </div>
