<div class="modal fade" id="stockModal" data-target="{{entity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3>Stock</h3>
      </div>
      <div class="modal-body">
        <div class='row' id="products">
          <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab">
              {% for category in productCategories %}
                <li {% if loop.index==1%} class='active' {% endif %}><a href="#cat{{category.id}}" data-toggle="tab" data-route="{{ path('tent_get_available', {'entityId':entity.id, 'entityType':entityType,  'categoryId':category.id, 'startDate' : entity.builddate|date('Y-m-d H:i:s') ,'endDate': entity.unbuilddate|date('Y-m-d H:i:s') } ) }}" >{{category}}</a></li>
              {% endfor %}
            </ul>

            <div class="tab-content">
              {% for category in productCategories %}
                <div class="tab-pane {% if loop.index==1 %} active {% endif %}" id="cat{{category.id}}" data-loaded='0' >
                    {%  if loop.index==1 %}
                        {{ render(controller("CaravaneOrganicBundle:Tent:getAvailable" , { 'entity':entity,'categoryId':category.id, 'startDate' : entity.builddate ,'endDate': entity.unbuilddate, 'ob':"insertDate desc"} )) }}
                    {%  endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" id="add_selected_products" class="add_selected_products">Add selected products</a>
        {#<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>#}
      </div>
    </div>
  </div>
</div>

<script>

    $(document).ready(function() {
        $('a[data-toggle="tab"]').not('a[data-toggle="tab"]:first').on('shown.bs.tab', function (e) {
            var tab = $(e.target);
            var route=tab.attr('data-route');
            var pane=tab.attr('href');
            if($(pane).attr('data-loaded')==0) {
                $.ajax({
                    url: route,
                    method: 'GET',
                    success: function(data) {
                        //console.log(data);
                        $(pane).html(data);
                        $(pane).attr('data-loaded',1);
                        $(pane).on("blur","#caravane_floor_surface_total", function() {
                            console.log('blur');
                            $('table.floor input:checkbox').prop("checked", false);
                            var t=0;
                            while(t<parseFloat($('#caravane_floor_surface_total').val())) {
                                u=$("table.floor input:checkbox:not(:checked):first");
                                u.prop('checked',true);
                                t=t+ parseFloat(u.attr('data-m2'));
                                console.log(t);
                            }
                        })


                    }
                });
            }

                console.log("--------------------------------------------------------",route);
             // newly activated tab
            //e.relatedTarget // previous active tab
        })
    });


</script>
