<div class="row-fluid">

         <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th class="span9">Description</th>
                            <th class="span1">Slice</th>

                            <th class='span1'>Amount in &euro;</th>
                            <th class='tiny'>Invoice</th>
                            <th class='tiny'></th>
                        </tr>
                    </thead>
                    <tbody class="slices" data-prototype="{{('
                        <td class="span9">'~form_widget(edit_form.slices.vars.prototype.comments)~'</td>
                        <td class="span1">'~form_widget(edit_form.slices.vars.prototype.slice)~'</td>
                        <td class="span1">'~form_widget(edit_form.slices.vars.prototype.priceht)~'</td>
                        <td class="span1"></td>
                        <td><a class="delete_new_row" ><i class="icon icon-trash"></i></a></td>
                    ')|e}}">

                        {% for slice in edit_form.slices %}
                        <tr {% if slice.vars.value.slice>100 or slice.vars.value.slice<=0 %} class="error" {% endif %} >
                            <td>{{form_widget(slice.comments)}}</td>
                            <td>{{form_widget(slice.slice)}}%</td>

                            <td>{{form_widget(slice.priceht)}}<br/>
                             </td>
                            {% if slice.vars.value.invoiceid %}
                             <td>
                                <a class="red" href="{{path('invoice_edit',{'id':slice.vars.value.invoiceid.id})}}">{% if slice.vars.value.invoiceid.reference %}{{slice.vars.value.invoiceid.reference}} {% else %} draft {% endif %} </a>
                            </td>
                            <td></td>
                             {% else %}
                             <td>
                                <a href="{{path('invoice_new_from_job',{'id':slice.vars.value.id})}}" class="btn btn-inverse"><i class="icon icon-plus"></i> Invoice</a>
                            </td>
                            <td>
                                <a class="delete_row" data-rel="{{entity.id}}" data-type="job_slice" data-target="{{slice.vars.value.id}}"><i class="icon icon-trash"></i></a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}

                    </tbody>
                     <tfoot>
                <tr {% if entity.totalSlice!=100 or entity.totalSlicePriceht!=entity.price %} class="error" {% endif %}>
                        <th class="right">

                            <a id="add_slice_link" class="add_slice_link btn">Add row</a>
                        </th>
                        <th>
                            {{entity.totalSlice}}%
                        </th>
                        <th>
                            {{entity.totalSlicePriceht}}&euro;
                        </th>
                        <th class="tiny"></th>
                        <th class='iiny'></th>
                </tr>
            </tfoot>
                </table>
    </div>
     <div class="row-fluid">
          {{form_row(edit_form.conditions)}}
    </div>
