<div class="row-fluid">

        <div class="well">
        <div class="row-fluid">
            <div class="span4">
                <div>
                    <label>Reference</label> <label><b>{{entity.reference}}</b></label>
                </div>
                <div>
                    <label>Date</label> <label><b>{{entity.insertDate|date('d/m/Y')}}</b></label>
                </div>

            </div>
            <div class="span4">
                <label>Type</label><label><b>{{entity.offretype}}</b></label>
                {% if entity.offreid %}<label>Related quote</label><label><b><a href="{{path('offre_edit',{'id':entity.offreid.id})}}"> {{entity.offreid}}</a> </b></label>{% endif %}

            </div>
            <div class="span4">
                <div class="symfony-form-row " style='text-align:right'>
                    <a class='btn btn-inverse '>Cancel this job</a>
                </div>



                {{ form_row(edit_form.userid)}}

            </div>
        </div>
    </div>
    <div class="well">
        <div class="row-fluid">
                {{ form_row(edit_form.eventdate)}}
        </div>
    </div>

    <div class="well">
        <div class="row-fluid">
            {% set ToPay = entity.price %}
            {% if entity.pricetype!='intra'%}
                {% set ToPay = entity.price+(entity.price*0.21) %}
            {% endif %}
            <div class="span6">
                <h4 style="text-align:center">Total amount {{ToPay|number_format(2,',',' ')}} {% if entity.pricetype!='intra'%}VAT incl.{% endif %}</h4>
                {% if entity.pricetype!='intra'%}<div style="text-align:center">{{entity.price|number_format(2,',',' ')}} VAT excl.</div>{% endif %}
            </div>
             <div class="span6">
                {{ form_row(edit_form.pricecomments)}}
            </div>
        </div>
    </div>

</div>
