{% extends "::base.html.twig" %}

{% block body %}
<div class="row">

	<div class="col-md-4">
    <h4>My offers</h4>
            <div class="well dash">

                <ul>
                  {% for offre in offres %}
                    <li><a href="{{path('offre_edit',{'id':offre.id})}}">{{offre.reference}}</a> - {%  if  offre.clientid.name is defined %} <a href="{{path('client_edit',{'id':offre.clientid.id})}}">{{ offre.clientid.name}}</a>{%  endif %} - {{ offre.city is defined ? offre.city:'' }}</li>
                  {% endfor %}
                </ul>
              </div>

      </div>
      <div class="col-md-4">
        <h4>My jobs</h4>
            <div class="well dash">

                <ul>
                  {% for job in jobs %}
                    <li><a href="{{path('job_edit',{'id':job.id})}}">{{job.reference}} </a> - {{ job.clientid.name is defined? job.clientid.name:'' }} - {{ job.city is defined ? job.city:'' }}</li>
                  {% endfor %}
                </ul>
              </div>
      </div>
      <div class="col-md-4">
        <h4>My messages</h4>
        <div class="well dash">

        <ul>
          {% for message in messages %}
            <li>On {{message.messagedate|date('Y-m-d H:i:s')}} {{message.userid.name is defined?message.userid.name:''}} wrote:<br/>
              {{message.message|raw}}</li>
          {% endfor %}
        </ul>
      </div>
      </div>
</div>
{% endblock body %}
