{% extends "::base.html.twig" %}

{% block body %}
<div class="row-fluid">
    <div class="tools">
        <div class="span10">
        <ul class="nav nav-pills">
          <li {% if type=='' %}class="active" {% endif %} >
            <a href="{{path('client',{'ob':ob})}}">All</a>
          </li>
          <li {% if type=='owner' %}class="active" {% endif %} ><a href="{{path('client',{'type': 'owner','ob':ob,'page':1} )}}">Owners</a></li>
          <li {% if type=='renter' %}class="active" {% endif %} ><a href="{{path('client',{'type':'renter','ob':ob,'page':1})}}">Renters</a></li>
          <li {% if type=='cie' %}class="active" {% endif %} ><a href="{{path('client',{'type':'cie','ob':ob,'page':1})}}">Companies</a></li>
          <li {% if type=='part' %}class="active" {% endif %} ><a href="{{path('client',{'type':'part','ob':ob,'page':1})}}">Private</a></li>
        </ul>
</div>
<div class="span2">
     <a href="{{ path('client_new') }}" class="btn btn-inverse ">New client</a>
    </div>
    </div>
</div>
<div class="row-fluid">




<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>

            <th><a data-orderby="reference" >Reference</a></th>
            <th><a data-orderby="clienttype">Type</a></th>

             <th><a data-orderby="name">Name</a></th>
            {#<th>Firstname</th>
            <th>Lastname</th>#}

            <th><a data-orderby="vat">VAT</a></th>

            <th>Tents</th>



            <th><a data-orderby="email">Email</a></th>
            <th><a data-orderby="phone">Phone</a></th>
            <th><a data-orderby="mobile">Mobile</a></th>

            {#<th>Address</th>
            <th>Number</th>
            <th>Zip</th>
            <th>City</th>
            <th>Country</th>

            <th>Phone2</th>

            <th>Fax</th>

            <th>Url</th>
            <th>Language</th>
            <th>Origin</th>
            <th>Insertdate</th>
            <th>Updatedate</th>
            <th>Public</th>#}
            <th>Ed</th>
            <th>Del</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>

            <td><b><a href="{{ path('client_edit', { 'id': entity.id }) }}">{{ entity.reference }}</a></b></td>
            <td>{{ entity.clienttype }}</td>

            <td><b><a href="{{ path('client_edit', { 'id': entity.id }) }}">{{ entity.name }}</a></b></td>
           {# <td>{{ entity.firstname }}</td>
            <td><a href="{{ path('client_edit', { 'id': entity.id }) }}">{{ entity.lastname }}</a></td>#}

            <td>{{ entity.vat }}</td>

            <td>{% for tent in entity.tents %}<a href="{{path('tent_edit',{'id':tent.id})}}">{{ tent }}</a>, {% endfor %}</td>

            <td><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></td>
             <td>{{ entity.phone }}</td>
             <td>{{ entity.mobile }}</td>

          {#}  <td>{{ entity.address }}</td>
            <td>{{ entity.number }}</td>
            <td>{{ entity.zip }}</td>
            <td>{{ entity.city }}</td>
            <td>{{ entity.country }}</td>

            <td>{{ entity.phone2 }}</td>

            <td>{{ entity.fax }}</td>

            <td>{{ entity.url }}</td>
            <td>{{ entity.language }}</td>
            <td>{{ entity.origin }}</td>
            <td>{% if entity.insertdate %}{{ entity.insertdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.updatedate %}{{ entity.updatedate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.public }}</td>#}
            <td>
                <a href="{{ path('client_edit', { 'id': entity.id }) }}"><i class="icon icon-edit"></i></a>

            </td>
             <td>

                        <a href="{{ path('client_delete', { 'id': entity.id }) }}" data-rel="{{entity.reference}}" ><i class="icon icon-trash"></i></a>


            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


</div>
<div class="row-fluid">
    <div class="row-fluid">
    {% include "CaravaneOrganicBundle:Default:pagination.html.twig" %}
</div>
</div>
{% endblock body %}
